<!DOCTYPE html>
<html>
<head>
    <meta http-equiv='content-type' content='text/html;charset=UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    
    <title>{{project.name}} styleguide</title>  
    
    <link rel='stylesheet' href='assets/css/main.css'>
    <link rel='stylesheet' href='assets/css/styles.css'/>
    
    <link rel='icon' href='favicon.ico' type='image/x-icon' />
    
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css'>
</head>
<body>
        <!-- page-header -->
        <header class='mui-page-header'>
            <!-- header-logo -->
            <div class='mui-header-logo'>
                <a href=''>
                    <h1>{{ project.name }}</h1>
                </a>
            </div>
            <!-- /header-logo -->
            <!-- header-navigation -->
            <nav class='mui-header-navigation'>
                <div class='mui-navigation-toggle -hamburger' role='button' aria-hidden='true' id='wa-ghap' aria-haspopup='true' aria-label='Open navigation'>
                    <i class='fa fa-bars' aria-hidden='true'></i>
                </div>
                <ul class='links-list' aria-labelledby='wa-ghap'>
                    <li><a href='#overview' aria-label='Link to the framework overview'>Overview</a></li>
                    <li><a href='#components' aria-label='Link to the components'>Components</a></li>
                    <li><a href='#faq' aria-label='Link to the f.a.q.'>F.A.Q.</a></li>
                </ul>
                <div class='mui-navigation-toggle mui-shadow-toggle' role='button' aria-hidden='true' aria-label='Close navigation'></div>
            </nav>
            <!-- /header-navigation -->
        </header>
        <!-- /page-header -->


        <!-- hero-header -->
        <div class='mui-hero-header -blueprint'>
            <div class='content'>
                <h2 class='project'>{{ project.name }} <sup class='version'>v{{ project.version }}</sup></h2>
                <p class='description'>Simple UI Framework for simple websites</p>
                <a href='https://github.com/sfi0zy/muilessium' class='mui-button'>See on GitHub</a>
            </div>
        </div>
        <!-- /hero-header -->

        <!-- row -->
        <div class='mui-row'>
        <!-- aside -->
        <aside class='mui-column -s12 -m4'>
            <div class='aside-navigation' role='navigation'>
                <a href='#overview'>Overview</a>
                <a href='#components'>Components</a>
                <ul class='sub-list'>
                {{#files}}
                    {{#blocks}}
                        <li>
                            <a href='#{{../file}}'>{{ name }}</a>
                        </li>
                    {{/blocks}}
                {{/files}}
                </ul>
                <a href='#faq'>F.A.Q.</a>
            </div>
        </aside>
        <!-- /aside -->

        <!-- main -->
        <main class='mui-column -s12 -m8'>
            <!-- content-section -->
            <div class='mui-content-container -separate'>
                <h3 id='overview'>Overview</h3>
                <p class='mui-p -b'>Muilessium is the UI framework.</p>

                <h4>Grid</h4>
                <p class='mui-p -b'>Muilessium uses classic 12-column grid based on floats. Rows and columns should have classes .mui-row and .mui-column and columns can have options -s* for the small screens, -m* for the medium screens and -l* for the large screens.</p>
                <div class='grid-preview'>
                    <div class='mui-row'>
                        <div class='mui-column -s1'>-s1</div>
                        <div class='mui-column -s11'>-s11</div>
                    </div>
                    <div class='mui-row'>
                        <div class='mui-column -s3'>-s3</div>
                        <div class='mui-column -s9'>-s9</div>
                    </div>
                    <div class='mui-row'>
                        <div class='mui-column -s6 -m4 -l6'>-s6 -m4 -l6</div>
                        <div class='mui-column -s6 -m8 -l6'>-s6 -m8 -l6</div>
                    </div>
                    <div class='mui-row'>
                        <div class='mui-column -m6 -l2'>-m6 -l2</div>
                        <div class='mui-column -m6 -l10'>-m6 -l10</div>
                    </div>
                </div>
            </div>
            <!-- content-section -->


            <!-- content-section -->
            <div class='mui-content-container -separate'>
                <h4 id='components'>Components</h4>

                {{#files}}
                    <div id='{{file}}' class='_allow-empty'></div>
                    {{#blocks }}
                    <!-- component-preview -->
                    <div class='component-preview'>
                        <h5 class='name'>{{ name }}</h5>
                        <div class='filename'>{{ ../file }}</div>
                        {{#if description }}
                            <p class='mui-p description'>{{ description }}</p>
                        {{/if}}
                        {{#depends }}
                            <div class='depends'>Depends on {{ depends }}</div>
                        {{/depends}}
                        {{#requires}}
                            <div class='requires'>Requires {{ requires }}</div>
                        {{/requires}}
                        {{#if markup}}
                            <div class='example-container'>
                                <div class='example'>{{{ markup.example }}}</div>
                                {{#state}}
                                    <div class='state'>
                                        <h6>{{ ../../name }} with {{name}} option</h6>
                                        <div class='example' data-class='{{name}}'>{{{ ../markup.example }}}</div>
                                    </div>
                                {{/state}}
                                <div class='code'>
                                    <pre class='( prettyprint lang-html )'>{{{markup.escaped}}}</pre>
                                </div>
                            </div>
                        {{/if}}
                    </div>
                    <!-- /component-preview -->
                    {{/blocks}}
                {{/files}}
            </div>
            <!-- /content-section -->


            <!-- content-section -->
            <div class="mui-content-container -separate">
                <h3 id="faq">F.A.Q.</h3>
            </div>
            <!-- /content-section -->

            <!-- page-footer -->
            <div class='mui-page-footer _text-center'>
                <span>Copyright &copy; Ivan Bogachev, 2016</span>
            </div>
            <!-- /page-footer -->
        </main>
        <!-- /main -->
        </div>
        <!-- /columns-fix -->



    <script src='assets/js/prettify/prettify.js?v=1'></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            [].forEach.call(document.querySelectorAll('.state .example'), function(example) {
                var stateClass = example.getAttribute('data-class'),
                    targetChild = 0;

                if (example.childNodes[1]) {
                    targetChild = 1;
                }

                example.childNodes[targetChild].className += ' ' + stateClass;
            });

            prettyPrint();
        });
    </script>
    <script src='assets/js/main.js'></script>
</body>
</html>
