<!DOCTYPE html>
<html>
<head>
    <meta http-equiv='content-type' content='text/html;charset=UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    
    <title>{{project.name}} styleguide</title>  
    
    <link rel='stylesheet' href='assets/css/main.css'>
    <link rel='stylesheet' href='assets/css/styles.css'/>
    
    <link rel='icon' href='favicon.ico' type='image/x-icon' />
    
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css'>
</head>
<body>
    <!-- page-container -->
    <div class='mui-page-container'>
        <!-- page-header -->
        <header class='mui-page-header'>
            <!-- header-logo -->
            <div class='mui-header-logo'>
                <a href=''>
                    <h1>{{ project.name }}</h1>
                </a>
            </div>
            <!-- /header-logo -->
            <!-- header-navigation -->
            <nav class='mui-header-navigation'>
                <div class='mui-navigation-toggle -hamburger' role='button' aria-hidden='true' id='wa-ghap' aria-haspopup='true' aria-label='Open navigation'>
                    <i class='fa fa-bars' aria-hidden='true'></i>
                </div>
                <ul class='links-list' aria-labelledby='wa-ghap'>
                    <li><a href='#overview' aria-label='Link to the framework overview'>Overview</a></li>
                    <li><a href='#faq' aria-label='Link to the f.a.q.'>F.A.Q.</a></li>
                </ul>
                <div class='mui-navigation-toggle mui-shadow-toggle' role='button' aria-hidden='true' aria-label='Close navigation'></div>
            </nav>
            <!-- /header-navigation -->
        </header>
        <!-- /page-header -->


        <!-- hero-header -->
        <div class='mui-hero-header -blueprint'>
            <div class='content'>
                <h2 class='project'>{{ project.name }} <sup class='version'>v{{ project.version }}</sup></h2>
                <p class='description'>Simple UI Framework for simple websites</p>
            </div>
        </div>
        <!-- /hero-header -->


        <!-- main -->
        <main>
            <!-- content-section -->
            <div class='mui-content-container -separate'>
                <h3 id='overview'>Overview</h3>
                <p class='mui-p -limit-width'></p>
            </div>
            <!-- content-section -->


            <!-- content-section -->
            <div class='mui-content-container -separate'>
                <h4>Components</h4>

                {{#files}}
                    {{#blocks }}
                    <!-- component-preview -->
                    <div class='component-preview'>
                        <h5 class='name'>{{ name }}</h5>
                        <div class='filename'>{{ ../file }}</div>
                        {{#if description }}
                            <p class='mui-p description'>{{ description }}</p>
                        {{/if}}
                        {{#depends }}
                            <div class='depends'>Depends on {{ depends }}</div>
                        {{/depends}}
                        {{#requires}}
                            <div class='requires'>Requires {{ requires }}</div>
                        {{/requires}}
                        {{#if markup}}
                            <div class='example-container'>
                                <div class='example'>{{{ markup.example }}}</div>
                                {{#state}}
                                    <div class='state'>
                                        <h6>{{ ../../name }} with {{name}} option</h6>
                                        <div class='example' data-class='{{name}}'>{{{ ../markup.example }}}</div>
                                    </div>
                                {{/state}}
                                <div class='code'>
                                    <pre class='( prettyprint lang-html )'>{{{markup.escaped}}}</pre>
                                </div>
                            </div>
                        {{/if}}
                    </div>
                    <!-- /component-preview -->
                    {{/blocks}}
                {{/files}}
            </div>
            <!-- /content-section -->


            <!-- content-section -->
            <div class="mui-content-container -separate">
                <h3 id="faq">F.A.Q.</h3>
            </div>
            <!-- /content-section -->
        </main>
        <!-- /main -->
    </div>
    <!-- /page-container -->

    <!-- page-footer -->
    <footer class='mui-page-footer _text-center'>
        <span>Copyright &copy; Ivan Bogachev, 2016</span>
    </footer>
    <!-- /page-footer -->


    <script src='assets/js/prettify/prettify.js?v=1'></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            [].forEach.call(document.querySelectorAll('.state .example'), function(example) {
                var stateClass = example.getAttribute('data-class'),
                    targetChild = 0;

                if (example.childNodes[1]) {
                    targetChild = 1;
                }

                example.childNodes[targetChild].className += ' ' + stateClass;
            });

            prettyPrint();
        });
    </script>
    <script src='assets/js/main.js'></script>
</body>
</html>
