<!DOCTYPE html>
<html lang='en'>
<head>
    <meta http-equiv='content-type' content='text/html;charset=UTF-8' />
    <meta name='viewport' content='user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1'>
    
    <title>Muilessium UI Framework</title>  
    

    <style>*,:after,:before,[type=checkbox]{box-sizing:border-box;padding:0}body,h1,h2,input{margin:0}.mui-content-container:after,.mui-page-header:after{content:'';clear:both}.-black{color:#000!important}.-white-bg{background:#FFF!important}.-blue-4-bg{background:#1F4C77!important}._uppercase{text-transform:uppercase!important}._smaller-3{font-size:.51em!important}@media screen and (max-width:600px){._smaller-3{font-size:1em!important}}@media screen and (max-width:400px){._smaller-3{font-size:1em!important}}._bigger-1{font-size:1.25em!important}._left{float:left!important}._right{float:right!important}._shadow-3{box-shadow:0 3px 10px rgba(0,0,0,.3)!important}body{display:-ms-flexbox;display:flex;-ms-flex-direction:column;flex-direction:column;min-height:100%;min-width:320px}header,nav{display:block}a{background-color:transparent;-webkit-text-decoration-skip:objects}input{font-family:sans-serif;font-size:100%;line-height:1.15;overflow:visible}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}*,:after,:before{margin:0}html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;height:100%;color:#000;background-color:#FFF;font-size:calc(14px + (22 - 14) * ((100vw - 400px)/ (1200 - 400)));line-height:1.5;font-family:Raleway,sans-serif}a,a:visited{color:#383838}:focus{outline:0}div:empty:not(.indicator):not(.mui-navigation-toggle):not(._allow-empty):not(.mui-shadow-toggle){display:none}h1,h2{padding:0;line-height:1.2}img{border-style:none;display:block;height:auto;max-width:100%}ul{list-style-position:inside}li:not(:first-of-type){margin-top:.5rem}h1{font-size:3.05em!important}h2{font-size:2.44em!important}.mui-button{display:inline-block;position:relative;padding:0 1em;font-size:1rem;line-height:2;text-decoration:none;text-align:center;color:#FFF;background:#6D6D6D;border:none;border-radius:.2rem}.mui-button:visited{color:#FFF;background:#6D6D6D}.mui-button.-icon{height:2rem;width:2rem;padding:0}.mui-checkbox>input[type=checkbox]{display:none}.mui-content-container{position:relative;width:90%;max-width:1100px;margin:0 auto}.mui-modal-window>.window,.mui-modal-window>.window>.content.-image .mui-image{max-height:80vh;max-width:80vw}.mui-content-container:after{display:table}.mui-page-container{-ms-flex:1 0 auto;flex:1 0 auto}.mui-hero-header{position:relative;height:20rem;width:100%;overflow:hidden}.mui-hero-header>.effects{position:absolute;top:0;left:0;height:inherit;width:inherit}.mui-hero-header>.content{position:absolute;top:50%;left:50%;transform:translateX(-50%) translateY(-50%);width:100%;padding:1rem 4rem;text-align:center;color:#FFF}.mui-hero-header>.scroll-icon{position:absolute;bottom:1rem;left:50%;transform:translateX(-50%);color:#FFF}.mui-hero-header.-full-height{height:100vh;min-height:15rem}.mui-image{margin-left:auto;margin-right:auto}.mui-image.-js-lazy-load{opacity:0}.mui-modal-window{position:fixed;top:0;left:0;height:100%;width:100%;z-index:10;opacity:0}.mui-modal-window>.window{position:absolute;top:50%;left:50%;transform:translateX(-50%) translateY(-50%);z-index:11}.mui-modal-window>.window>.content{overflow:hidden;border-radius:.2rem}.mui-modal-window>.window>.close-icon{position:absolute;top:-1rem;right:-1rem;height:2rem;width:2rem;line-height:2rem;text-align:center;border-radius:50%;background:#FFF;border:2px solid #C6C6C6;color:#6D6D6D;z-index:2}.mui-modal-window>.mui-shadow-toggle{position:fixed;z-index:10;top:0;left:0;height:100vh;width:100vw}.mui-header-logo{display:inline-block;line-height:4rem}.mui-header-logo>.link{color:#000;text-decoration:none}.mui-header-navigation>.links-list{list-style:none;margin:0}.mui-header-navigation>.links-list>.item{display:inline-block;margin:0}.mui-header-navigation>.links-list>.item>.link{padding:calc(1.5rem);line-height:4rem;text-decoration:none;color:#000}.mui-header-navigation.-mobile-version>.links-list{display:block;visibility:hidden;position:fixed;top:0;right:0;z-index:11;overflow-y:scroll;height:100%;width:80%;padding:1rem;font-size:2rem;text-align:right;transform:translateX(100%);background:#FFF;box-shadow:0 0 10rem rgba(0,0,0,.3)}.mui-header-navigation.-mobile-version>.links-list>.item{display:block;overflow:hidden;margin-left:0}.mui-header-navigation.-mobile-version>.links-list>.item:first-of-type{margin-top:4rem}.mui-header-navigation.-mobile-version>.links-list>.item:not(:first-of-type){border-top:1px solid #C6C6C6}.mui-header-navigation.-mobile-version>.links-list>.item>.link{display:block;padding:.5rem 1rem}.mui-navigation-toggle.-hamburger{display:inline-block;position:relative;float:right;height:4rem;line-height:4rem;padding:0 1rem;font-size:2rem;color:#6D6D6D}.mui-page-header:after{display:table}.mui-progress-bar>.value{position:absolute;top:0;left:0;height:100%;width:100%;line-height:2rem;text-align:center;color:#383838}.mui-shadow-toggle{position:fixed;left:0;top:0;z-index:10;height:100%;width:100%;background:0 0;opacity:0}.mui-page-header{max-height:4rem;padding-left:1rem;position:absolute;top:0;left:0;width:100%;z-index:1}.mui-image.-logo{float:left;display:inline-block;height:3rem;width:3rem;margin:.5rem 1rem .5rem 0}.mui-header-logo h1{line-height:3.7rem}.mui-hero-header>.effects{background:linear-gradient(to right,#7b4397,#dc2430);opacity:.3}.example .mui-header-navigation.-mobile-version .links-list,.mui-header-navigation.-mobile-version .links-list{background:#fff}.mui-hero-header{background:#EDEDED}.scroll-to-top{display:block;position:fixed;z-index:11;bottom:1rem;left:1rem}.scroll-to-top.-hidden{opacity:0}</style>
</head>
<body>
    <header class='mui-page-header -white-bg'>
    <div class='mui-content-container'>
        <div class='mui-header-logo _left'>
            <img class='mui-image -logo -js-lazy-load' data-src='images/muilessium.png' src='data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7' alt='logo'>
            <a class='link -black -f-blue-3 _right' href='/'>
                <h1 class='_bigger-1'>{{ project.name }} <span class='_smaller-3'>v{{ project.version }}</span></h1>
            </a>
        </div>

        <nav class='mui-header-navigation -mobile-version _right'>
            <div class='mui-navigation-toggle -hamburger -black -f-blue-3-bg -f-white' role='button' aria-label='Open navigation'>
                <span>&equiv;</span>
            </div>
            <ul class='links-list'>
                <li class='item'><a class='link -black -f-blue-3-bg -f-white' href='#overview' aria-label='Link to the framework overview'>Overview</a></li>
                <li class='item'><a class='link -black -f-blue-3-bg -f-white' href='#utils' aria-label='Link to the utils overview'>Utils</a></li>
                <li class='item'><a class='link -black -f-blue-3-bg -f-white' href='#components' aria-label='Link to the components'>Components</a></li>
                <li class='item'><a class='link -black -f-blue-3-bg -f-white' href='#faq' aria-label='Link to the f.a.q.'>F.A.Q.</a></li>
            </ul>
            <div class='mui-navigation-toggle mui-shadow-toggle' aria-label='Close navigation'></div>
        </nav>
    </div>
    </header>


    <div class='mui-hero-header -full-height -blue-4-bg'>
        <div class='effects _allow-empty'></div>
        <div class='content'>
            <h2 class='_uppercase'>Muilessium</h2>
            <p>Because simple should be simple</p>
        </div>
        <div class='scroll-icon'>&darr;</div>
    </div>



    <div class='mui-content-container'>



        <aside class='mui-column -s12 -m3 _right'>
            <div class='aside-navigation _smaller-1 _line-1-25 _separate-3' role='navigation'>
                <a class='-f-blue-3' href='#overview'>Overview</a>
                <ul class='sub-list _separate-1'>
                    <li><a class='-f-blue-3' href='#page-examples'>Examples</a></li>
                    <li><a class='-f-blue-3' href='#grid-overview'>Grid</a></li>
                    <li><a class='-f-blue-3' href='#page-layout-overview'>Page layout</a></li>
                    <li><a class='-f-blue-3' href='#meta-viewport'>Viewport</a></li>
                    <li><a class='-f-blue-3' href='#helpers-overview'>Helpers</a></li>
                    <li><a class='-f-blue-3' href='#lazy-loading-images-overview'>Lazy load</a></li>
                    <li><a class='-f-blue-3' href='#colors-overview'>Colors</a></li>
                </ul>
                <hr class='_separate-1'>
                <a class='-f-blue-3' href='#utils'>Utils</a>
                <ul class='sub-list _separate-1'>
                    <li><a class='-f-blue-3' href='#utils-ajax'>AJAX</a></li>
                    <li><a class='-f-blue-3' href='#utils-animations'>Animations</a></li>
                    <li><a class='-f-blue-3' href='#utils-aria'>ARIA</a></li>
                    <li><a class='-f-blue-3' href='#utils-attributes'>Attributes</a></li>
                    <li><a class='-f-blue-3' href='#utils-checks'>Checks</a></li>
                    <li><a class='-f-blue-3' href='#utils-css-classes'>CSS Classes</a></li>
                    <li><a class='-f-blue-3' href='#utils-focus-and-click'>Focus&amp;Click</a></li>
                    <li><a class='-f-blue-3' href='#utils-scroll'>Scroll</a></li>
                    <li><a class='-f-blue-3' href='#utils-viewport'>Viewport</a></li>
                    <li><a class='-f-blue-3' href='#utils-uncategorized'>Uncategorized</a></li>
                </ul>
                <hr class='_separate-1'>
                <a class='-f-blue-3' href='#components'>Components</a>
                <ul class='sub-list _separate-1'>
                {{#files}}
                    {{#blocks}}
                        <li>
                            <a class='-f-blue-3' href='#{{../file}}'>{{ name }}</a>
                        </li>
                    {{/blocks}}
                {{/files}}
                </ul>
                <hr class='_separate-1'>
                <a class='-f-blue-3' href='#faq'>F.A.Q.</a>
            </div>
        </aside>



        <main class='mui-column -s12 -m9'>
            <div class='mui-content-container'>



                <div class='_separate-3'>
                    <div class='mui-row'>
                        <a class='anchor-link _smaller-2 -grey-3 -f-blue-3' href='#overview'>&#182;</a>
                        <h2 class='_bigger-2' id='overview'>Overview</h2>
                    </div>

                    <p class='mui-p _separate-1'>Muilessium is the UI framework created for the fast development of the websites. Simple websites which constitute a significant part of the internet. No SPA. No jQuery. No heavy plugins. Just a number of components and helpers - all that you need to develop a website. It has a REM-based sizes system for non-designers and a simple scheme of usage: Sketch &rarr; Construct &rarr; Paint &rarr; Use.</p>

                    <div class='_separate-1'>
                        <a class='mui-button -blue-3-bg -white -f-blue-5-bg' href='https://github.com/sfi0zy/muilessium'>Muilessium on GitHub</a>
                    </div>
                </div>


                <div class='_separate-5'>
                    <div class='mui-row'>
                        <a class='anchor-link _smaller-2 -grey-3 -f-blue-3' href='#page-examples'>&#182;</a>
                        <h2 class='_bigger-2' id='page-examples'>Examples</h2>
                    </div>

                    <div class='mui-row -l-between _separate-1'>
                        <div class='mui-column -s12 -l3'>
                            <a class='page-preview' href='https://sfi0zy.github.io/live-previews/chl517/'>
                                 <img class='mui-image -js-lazy-load' data-src='https://sfi0zy.github.io/images/5abb98cd6e8847788008b410ff010982.png' alt='Preview' src='data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7'>
                                <div class='version -black -white-bg _smaller-1'>v0.1.24</div>
                            </a>
                        </div>
                        <div class='mui-column -s12 -l3'>
                            <a class='page-preview' href='https://sfi0zy.github.io/live-previews/bca517/'>
                                 <img class='mui-image -js-lazy-load' data-src='https://sfi0zy.github.io/images/b99ff4b48a0841a9aa99a156c2c3f916.png' alt='Preview' src='data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7'>
                                <div class='version -black -white-bg _smaller-1'>v0.1.24</div>
                            </a>
                        </div>
                        <div class='mui-column -s12 -l3'>
                            <a class='page-preview' href='https://sfi0zy.github.io/live-previews/gfl517/'>
                                 <img class='mui-image -js-lazy-load' data-src='https://sfi0zy.github.io/images/7e0be513e17b457abba74bb50bbb7add.png' alt='Preview' src='data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7'>
                                <div class='version -black -white-bg _smaller-1'>v0.1.24</div>
                            </a>
                        </div>
                    </div>
                </div>


                <div class='_separate-5'>
                    <div class='mui-row'>
                        <a class='anchor-link _smaller-2 -grey-3 -f-blue-3' href='#grid-overview'>&#182;</a>
                        <h3 class='_bigger-2' id='grid-overview'>Grid</h3>
                    </div>

                    <p class='mui-p _separate-1'>Muilessium uses a grid with 12 columns based on flexbox (and has legacy version based on floats, but only in custom builds). Rows and columns have classes .mui-row and .mui-column and columns can have options -s* for a small screen, -m* for a medium screen and -l* for a large screen. Default breakpoints are 400, 600 and 1200px. See <a class='-f-blue-3' href='https://github.com/sfi0zy/muilessium/blob/master/src/less/components/grid-flex.less'>src/less/components/grid-flex.less</a> for more information.</p>

                    <div class='grid-preview _separate-2'>
                        <div class='mui-row'>
                            <div class='mui-column -s1 -blue-5-bg -blue-1 _text-center _line-2r _smaller-1'>-s1</div>
                            <div class='mui-column -s11 -blue-1-bg -blue-5 _text-center _line-2r _smaller-1'>-s11</div>
                        </div>
                        <div class='mui-row'>
                            <div class='mui-column -s3 -blue-5-bg -blue-1 _text-center _line-2r _smaller-1'>-s3</div>
                            <div class='mui-column -s9 -blue-1-bg -blue-5 _text-center _line-2r _smaller-1'>-s9</div>
                        </div>
                        <div class='mui-row'>
                            <div class='mui-column -s6 -m4 -l6 -blue-5-bg -blue-1 _text-center _line-2r _smaller-1'>-s6 -m4 -l6</div>
                            <div class='mui-column -s6 -m8 -l6 -blue-1-bg -blue-5 _text-center _line-2r _smaller-1'>-s6 -m8 -l6</div>
                        </div>
                        <div class='mui-row'>
                            <div class='mui-column -m6 -l2 -blue-5-bg -blue-1 _text-center _line-2r _smaller-1'>-m6 -l2</div>
                            <div class='mui-column -m6 -l10 -blue-1-bg -blue-5 _text-center _line-2r _smaller-1'>-m6 -l10</div>
                        </div>
                    </div>

                    <div class='code-example _separate-2 _smaller-2'>
                        <pre class='prettyprint lang-html'>
    &lt;div class='mui-row'&gt;
        &lt;div class='mui-column -s1'&gt;-s1&lt;/div&gt;
        &lt;div class='mui-column -s11'&gt;-s11&lt;/div&gt;
    &lt;/div&gt;
    &lt;div class='mui-row'&gt;
        &lt;div class='mui-column -s3'&gt;-s3&lt;/div&gt;
        &lt;div class='mui-column -s9'&gt;-s9&lt;/div&gt;
    &lt;/div&gt;
    &lt;div class='mui-row'&gt;
        &lt;div class='mui-column -s6 -m4 -l6'&gt;-s6 -m4 -l6&lt;/div&gt;
        &lt;div class='mui-column -s6 -m8 -l6'&gt;-s6 -m8 -l6&lt;/div&gt;
    &lt;/div&gt;
    &lt;div class='mui-row'&gt;
        &lt;div class='mui-column -m6 -l2'&gt;-m6 -l2&lt;/div&gt;
        &lt;div class='mui-column -m6 -l10'&gt;-m6 -l10&lt;/div&gt;
    &lt;/div&gt;</pre>
                    </div>
                </div>



                <div class='_separate-5'>
                    <div class='mui-row'>
                        <a class='anchor-link _smaller-2 -grey-3 -f-blue-3' href='#page-layout-overview'>&#182;</a>
                        <h3 class='_bigger-2' id='page-layout-overview'>Page layout</h3>
                    </div>

                    <p class='mui-p _separate-1'>Basic page layout includes header, page container and footer. This layout is the simplest way to create a sticky footer, but IE11 does not support flexbox greatly, so we have some incorrect behavior in it.</p>

                    <div class='code-example _separate-2 _smaller-2'>
                        <pre class='prettyprint lang-html'>
    &lt;header class='mui-page-header'&gt;header&lt;/header&gt;
    &lt;div class='mui-page-container'&gt;...&lt;/div&gt;
    &lt;footer class='mui-page-footer'&gt;footer&lt;/footer&gt;</pre>
                    </div>
                </div>



                <div class='_separate-5'>
                    <div class='mui-row'>
                        <a class='anchor-link _smaller-2 -grey-3 -f-blue-3' href='#meta-viewport'>&#182;</a>
                        <h3 class='_bigger-2' id='meta-viewport'>Recommended viewport</h3>
                    </div>

                    <p class='mui-p _separate-1'>Muilessium uses Hammer.js and it is recommended to use the following meta in your pages:</p>

                    <div class='code-example _separate-2 _smaller-2'>
                        <pre class='prettyprint lang-html'>
    &lt;meta name='viewport' content='user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1'&gt;</pre>
                    </div>
                </div>



                <div class='_separate-5'>
                    <div class='mui-row'>
                        <a class='anchor-link _smaller-2 -grey-3 -f-blue-3' href='#helpers-overview'>&#182;</a>
                        <h3 class='_bigger-2' id='helpers-overview'>Helpers</h3>
                    </div>

                    <p class='mui-p _separate-1'>Muilessium has a lot of CSS helpers, no need to add description for every of them - just look at <a class='-f-blue-3' href='https://github.com/sfi0zy/muilessium/blob/master/src/less/helpers.less'>src/less/helpers.less</a>.</p>
                </div>



                <div class='_separate-5'>
                    <div class='mui-row'>
                        <a class='anchor-link _smaller-2 -grey-3 -f-blue-3' href='#lazy-loading-images-overview'>&#182;</a>
                        <h3 class='_bigger-2' id='lazy-loading-images-overview'>Lazy loading images</h3>
                    </div>

                    <div class='code-example _separate-2 _smaller-2'>
                        <pre class='prettyprint lang-html'>
    &lt;img class='mui-image -js-lazy-load'
        data-src='....'
        data-srcset='....'
        data-sizes='....'
        alt='Lazy loaded image'
        src='data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7'&gt;</pre>
                    </div>
                </div>



                <div class='_separate-5'>
                    <div class='mui-row'>
                        <a class='anchor-link _smaller-2 -grey-3 -f-blue-3' href='#colors-overview'>&#182;</a>
                        <h3 class='_bigger-2' id='colors-overview'>Colors</h3>
                    </div>

                    <p class='mui-p _separate-1'>A number of classes for painting from <a class='-f-blue-3' href='https://github.com/sfi0zy/muilessium/blob/master/src/less/colors.less'>src/less/colors</a>. There are four types of classes:</p>
                    <ul>
                        <li><b>-color-number</b> - text color for the element</li>
                        <li><b>-color-number-bg</b> - background for the element</li>
                        <li><b>-f-color-number</b> - text color for the :hover and :focus states of the element</li>
                        <li><b>-f-color-number-bg</b> - background color for the :hover and :focus states</li>
                    </ul>

                    <div class='_separate-2'>
                        <div class='mui-row'>
                            <div class='color-preview -white-bg'></div>
                            <div class='color-name'>White</div>
                        </div>

                        <div class='mui-row'>
                            <div class='color-preview -grey-1-bg'></div>
                            <div class='color-preview -grey-2-bg'></div>
                            <div class='color-preview -grey-3-bg'></div>
                            <div class='color-preview -grey-4-bg'></div>
                            <div class='color-preview -grey-5-bg'></div>
                            <div class='color-name'>Grey 1-5</div>
                        </div>

                        <div class='mui-row'>
                            <div class='color-preview -black-bg'></div>
                            <div class='color-name'>Black</div>
                        </div>

                        <div class='mui-row'>
                            <div class='color-preview -brown-1-bg'></div>
                            <div class='color-preview -brown-2-bg'></div>
                            <div class='color-preview -brown-3-bg'></div>
                            <div class='color-preview -brown-4-bg'></div>
                            <div class='color-preview -brown-5-bg'></div>
                            <div class='color-name'>Brown 1-5</div>
                        </div>

                        <div class='mui-row'>
                            <div class='color-preview -blue-1-bg'></div>
                            <div class='color-preview -blue-2-bg'></div>
                            <div class='color-preview -blue-3-bg'></div>
                            <div class='color-preview -blue-4-bg'></div>
                            <div class='color-preview -blue-5-bg'></div>
                            <div class='color-name'>Blue 1-5</div>
                        </div>

                        <div class='mui-row'>
                            <div class='color-preview -violet-1-bg'></div>
                            <div class='color-preview -violet-2-bg'></div>
                            <div class='color-preview -violet-3-bg'></div>
                            <div class='color-preview -violet-4-bg'></div>
                            <div class='color-preview -violet-5-bg'></div>
                            <div class='color-name'>Violet 1-5</div>
                        </div>

                        <div class='mui-row'>
                            <div class='color-preview -purple-1-bg'></div>
                            <div class='color-preview -purple-2-bg'></div>
                            <div class='color-preview -purple-3-bg'></div>
                            <div class='color-preview -purple-4-bg'></div>
                            <div class='color-preview -purple-5-bg'></div>
                            <div class='color-name'>Purple 1-5</div>
                        </div>

                        <div class='mui-row'>
                            <div class='color-preview -green-1-bg'></div>
                            <div class='color-preview -green-2-bg'></div>
                            <div class='color-preview -green-3-bg'></div>
                            <div class='color-preview -green-4-bg'></div>
                            <div class='color-preview -green-5-bg'></div>
                            <div class='color-name'>Green 1-5</div>
                        </div>

                        <div class='mui-row'>
                            <div class='color-preview -cyan-1-bg'></div>
                            <div class='color-preview -cyan-2-bg'></div>
                            <div class='color-preview -cyan-3-bg'></div>
                            <div class='color-preview -cyan-4-bg'></div>
                            <div class='color-preview -cyan-5-bg'></div>
                            <div class='color-name'>Cyan 1-5</div>
                        </div>

                        <div class='mui-row'>
                            <div class='color-preview -red-1-bg'></div>
                            <div class='color-preview -red-2-bg'></div>
                            <div class='color-preview -red-3-bg'></div>
                            <div class='color-preview -red-4-bg'></div>
                            <div class='color-preview -red-5-bg'></div>
                            <div class='color-name'>Red 1-5</div>
                        </div>

                        <div class='mui-row'>
                            <div class='color-preview -yellow-1-bg'></div>
                            <div class='color-preview -yellow-2-bg'></div>
                            <div class='color-preview -yellow-3-bg'></div>
                            <div class='color-preview -yellow-4-bg'></div>
                            <div class='color-preview -yellow-5-bg'></div>
                            <div class='color-name'>Yellow 1-5</div>
                        </div>

                        <div class='mui-row'>
                            <div class='color-preview -orange-1-bg'></div>
                            <div class='color-preview -orange-2-bg'></div>
                            <div class='color-preview -orange-3-bg'></div>
                            <div class='color-preview -orange-4-bg'></div>
                            <div class='color-preview -orange-5-bg'></div>
                            <div class='color-name'>Orange 1-5</div>
                        </div>
                    </div>
                </div>



                <div class='_separate-5'>
                    <div class='mui-row'>
                        <a class='anchor-link _smaller-2 -grey-3 -f-blue-3' href='#utils'>&#182;</a>
                        <h3 class='_bigger-2' id='utils'>Utils</h3>
                    </div>

                    <p class='mui-p _separate-1'>Muilessium exports a number of internal utilities as window.Muilessium.Utils including</p>

                    <ul>
                        <li id='utils-ajax'><a class='-f-blue-3' href='docco/utils/ajax.html'>AJAX</a>
                            <ol>
                                <li>ajax.post</li>
                                <li>ajax.get</li>
                            </ol>
                        </li>

                        <li id='utils-animations'><a class='-f-blue-3' href='docco/utils/animations.html'>Animations</a>
                            <ol>
                                <li>typeText</li>
                                <li>typeTexsts</li>
                            </ol>
                        </li>

                        <li id='utils-aria'><a class='-f-blue-3' href='docco/utils/aria.html'>WAI-ARIA</a>
                            <ol>
                                <li>aria.set</li>
                                <li>aria.setRole</li>
                                <li>aria.removeRole</li>
                                <li>aria.setId</li>
                                <li>aria.get</li>
                                <li>aria.getRole</li>
                                <li>aria.toggleState</li>
                            </ol>
                        </li>

                        <li id='utils-attributes'><a class='-f-blue-3' href='docco/utils/attributes.html'>HTML attributes</a>
                            <ol>
                                <li>setAttribute</li>
                                <li>getAttribute</li>
                                <li>removeAttribute</li>
                            </ol>
                        </li>

                        <li id='utils-checks'><a class='-f-blue-3' href='docco/utils/checks.html'>Checking</a>
                            <ol>
                                <li>isInPage</li>
                                <li>isNotInPage</li>
                                <li>ifExists</li>
                                <li>ifNodeList</li>
                                <li>isDescendant</li>
                            </ol>
                        </li>

                        <li id='utils-css-classes'><a class='-f-blue-3' href='docco/utils/classes.html'>CSS classes</a>
                            <ol>
                                <li>hasClass</li>
                                <li>hasNotClass</li>
                                <li>addClass</li>
                                <li>addClasses</li>
                                <li>removeClass</li>
                                <li>removeClasses</li>
                                <li>replaceClass</li>
                                <li>toggleClass</li>
                            </ol>
                        </li>

                        <li id='utils-focus-and-click'><a class='-f-blue-3' href='docco/utils/focus-and-click.html'>Focus &amp; click</a>
                            <ol>
                                <li>makeElementFocusable</li>
                                <li>makeElementsFocusable</li>
                                <li>makeElementNotFocusable</li>
                                <li>makeElementsNotFocusable</li>
                                <li>getFocusableChilds</li>
                                <li>getAllFocusableElements</li>
                                <li>getNextFocusableElement</li>
                                <li>getPreviousFocusableElement</li>
                                <li>goToNextFocusableElement</li>
                                <li>goToPreviousFocusableElement</li>
                                <li>makeElementClickable</li>
                                <li>makeChildElementsClickable</li>
                                <li>onFocus</li>
                                <li>onBlur</li>
                            </ol>
                        </li>

                        <li id='utils-scroll'><a class='-f-blue-3' href='docco/utils/scroll.html'>Scroll</a>
                            <ol>
                                <li>scrollTo</li>
                                <li>scrollToTop</li>
                                <li>scrollFire</li>
                            </ol>
                        </li>

                        <li id='utils-viewport'><a class='-f-blue-3' href='docco/utils/viewport.html'>Viewport</a>
                            <ol>
                                <li>isInViewport</li>
                                <li>isAboveViewport</li>
                            </ol>
                        </li>

                        <li id='utils-uncategorized'><a class='-f-blue-3' href='docco/utils/uncategorized.html'>Uncategorized</a>
                            <ol>
                                <li>normalizeTabIndexes</li>
                                <li>lazyLoadImages</li>
                                <li>initAnchorLinks</li>
                                <li>generateRandomString</li>
                                <li>stringify</li>
                                <li>extend</li>
                                <li>debounce</li>
                                <li>callOnce</li>
                                <li>firstOfList</li>
                                <li>lastOfList</li>
                                <li>forEach</li>
                            </ol>
                        </li>
                    </ul>
                </div>


                <div class='_separate-5'>
                    <div class='mui-row'>
                        <a class='anchor-link _smaller-2 -grey-3 -f-blue-3' href='#components'>&#182;</a>
                        <h3 class='_bigger-2' id='components'>Components</h3>
                    </div>

                    <p class='mui-p _separate-1'>Muilessium has a number of components listed below. Every component has a markup shown in example and this markup should be used as is, because some initializations of components are based on their markups.</p>

                    {{#files}}
                        <div id='{{file}}' class='_allow-empty'></div>
                        {{#blocks }}
                            <div class='_separate-5'>
                                <div class='mui-row'>
                                    <a class='anchor-link _smaller-2 -grey-3 -f-blue-3' href='#{{../file}}'>&#182;</a>
                                    <h4 class='_bigger-1'>{{ name }}</h4>
                                </div>
                                <div class='_smaller-2 -grey-4'>{{ ../file }}</div>
                                {{#if description }}
                                    <p class='mui-p _separate-1'>{{ description }}</p>
                                {{/if}}
                                {{#depends }}
                                    <div class='_smaller-2 -blue-4'>Depends on {{ depends }}</div>
                                {{/depends}}
                                {{#requires}}
                                    <div class='_smaller-2 -red-4'>Requires {{ requires }}</div>
                                {{/requires}}
                                {{#if markup}}
                                    <div class='_separate-1'>
                                        <div class='example _separate-2'>{{{ markup.example }}}</div>
                                        {{#state}}
                                            <div class='state _separate-2'>
                                                <h5 class='_smaller-1'>{{ ../../name }} with {{name}} option</h5>
                                                <div class='example _separate-2' data-class='{{name}}'>{{{ ../markup.example }}}</div>
                                            </div>
                                        {{/state}}
                                        <div class='code _separate-2 _smaller-2'>
                                            <pre class='( prettyprint lang-html )'>{{{markup.escaped}}}</pre>
                                        </div>
                                    </div>
                                {{/if}}
                            </div>
                        {{/blocks}}
                    {{/files}}
                </div>




                <div class='_separate-5'>
                    <div class='mui-row'>
                        <a class='anchor-link _smaller-2 -grey-3 -f-blue-3' href='#faq'>&#182;</a>
                        <h3 class='_bigger-2' id="faq">F.A.Q.</h3>
                    </div>

                    <div class='questions-list _separate-1'>
                        <div class='_separate-1'>
                            <div class='question'>Can I use Muilessium in my project?</div>
                            <div class='answer'>Yes, Muilessium is distributed under the MIT license, so You can use it in Your projects.</div>
                        </div>

                        <div class='_separate-1'>
                            <div class='question'>What browsers are supported?</div>
                            <div class='answer'>All modern browsers, including IE11.</div>
                        </div>
                        
                        <div class='_separate-1'>
                            <div class='question'>Who is the author?</div>
                            <div class='answer'>My name is Ivan Bogachev. You can <a href='https://sfi0zy.github.io' class='-f-blue-3'>visit my website</a> for more information.</div>
                        </div>

                        <div class='_separate-1'>
                            <div class='question'>What can I do if I found a bug?</div>
                            <div class='answer'>If you found a bug - don't worry, Muilessium is is pre-pre-release state and can have some bugs, You can open an issue on <a href='https://github.com/sfi0zy/muilessium' class='-f-blue-3'>GitHub</a> or send me an <a href='mailto:sfi0zy@gmail.com' class='-f-blue-3'>email</a> and I will fix a problem when I will have a time.</div>
                        </div>

                        <div class='_separate-1'>
                            <div class='question'>I have some suggestions for improvement of Muilessium</div>
                            <div class='answer'>That's great! You can fork Muilesssium, add Your functionality and create a pull request to the <strong>dev</strong> branch, or contact with me by <a href='mailto:sfi0zy@gmail.com' class='-f-blue-3'>email</a> or <a href='https://twitter.com/sfi0zy' class='-f-blue-3'>twitter</a> (but I should  notify You - English is not my native language, maybe I'll need some time to translate messages)</div>
                        </div>
                    </div>
                </div>
            </div>


        </main>
    </div>



    <div class='mui-page-footer _text-center _line-3r -white -black-bg'>
        <span>Copyright &copy; Ivan Bogachev, 2016-2017</span>
    </div>


    <div id='scroll-to-top' class='( mui-button -icon ) -white-bg -black -f-blue-2-bg -f-white scroll-to-top -hidden _shadow-3'>
        <span>&uarr;</span>
    </div>


    <link rel='stylesheet' href='assets/css/muilessium.css?v=64306093233759'>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Raleway:400,600'>
    <link rel='stylesheet' href='assets/css/docs-styles.css?v=64306093233759'/>
    <script src='assets/js/prettify/prettify.js?v=3366371934429975'></script>
    <script src='assets/js/muilessium.js?v=8919168328946547'></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            [].forEach.call(document.querySelectorAll('.state .example'), function(example) {
                var stateClass = example.getAttribute('data-class'),
                    targetChild = 0;

                if (example.childNodes[1]) {
                    targetChild = 1;
                }

                example.childNodes[targetChild].className += ' ' + stateClass;
            });

            prettyPrint();

            Muilessium.Utils.scrollFire(document.getElementById('page-layout-overview'), function() {
                var scrollToTopButton = document.getElementById('scroll-to-top');

                Muilessium.Utils.removeClass(scrollToTopButton, '-hidden');

                Muilessium.Utils.makeElementClickable(scrollToTopButton, Muilessium.Utils.scrollToTop);
            });
        });
    </script>
</body>
</html>
