<!DOCTYPE html>
<html lang='en'>
<head>
    <meta http-equiv='content-type' content='text/html;charset=UTF-8' />
    <meta name='viewport' content='user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1'>
    <title>Muilessium UI Framework</title> 

    <link rel='apple-touch-icon' sizes='180x180' href='./favicons/apple-touch-icon.png'>
    <link rel='icon' type='image/png' sizes='32x32' href='./favicons/favicon-32x32.png'>
    <link rel='icon' type='image/png' sizes='16x16' href='./favicons/favicon-16x16.png'>
    <link rel='manifest' href='./favicons/manifest.json'>
    <link rel='mask-icon' href='./favicons/safari-pinned-tab.svg' color='#050505'>
    <meta name='theme-color' content='#ffffff'>


    <link rel='prefetch' href='./css/muilessium.min.css?v={{ project.version }}'>
    <link rel='prefetch' href='./js/muilessium.min.js?v={{ project.version }}'>


    <style>.-white{color:#fff!important}.-grey-4{color:#6d6d6d!important}.-black{color:#000!important}.-black-bg{background:#000!important}.-blue-3-bg{background:#380096!important}._smaller-1{font-size:.8em!important}._smaller-2{font-size:.64em!important}@media screen and (max-width:600px){._smaller-1,._smaller-2{font-size:1em!important}}@media screen and (max-width:400px){._smaller-1,._smaller-2{font-size:1em!important}}._bigger-1{font-size:1.25em!important}._bigger-2{font-size:1.56em!important}._line-1-25{line-height:1.25!important}._left{float:left!important}._right{float:right!important}._separate-1{margin-top:16px!important;margin-top:1rem!important;margin-bottom:16px!important;margin-bottom:1rem!important}._separate-3{margin-top:48px!important;margin-top:3rem!important;margin-bottom:48px!important;margin-bottom:3rem!important}._separate-5{margin-top:80px!important;margin-top:5rem!important;margin-bottom:80px!important;margin-bottom:5rem!important}html{font-family:sans-serif;line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}aside,header,nav{display:block}h1{font-size:2em;margin:.67em 0}main{display:block}hr{box-sizing:content-box;height:0;overflow:visible}a{background-color:transparent;-webkit-text-decoration-skip:objects}img{border-style:none}svg:not(:root){overflow:hidden}input{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}input{overflow:visible}[type=checkbox]{box-sizing:border-box;padding:0}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}*,:after,:before{margin:0;padding:0;box-sizing:border-box}html{height:100%;color:#000;background-color:#fff}body{display:-ms-flexbox;display:flex;-ms-flex-direction:column;flex-direction:column;min-height:100%;min-width:320px}a{color:#383838}a:visited{color:#383838}:focus{outline:none}div:empty:not(.indicator):not(.mui-navigation-toggle):not(._allow-empty):not(.mui-shadow-toggle):not(.scrollbar){display:none}h1,h2,h3{margin:0;padding:0;line-height:1.2}img{display:block;height:auto;max-width:100%}html{font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;font-size:calc(14px + 6 * ((100vw - 400px) / 800));line-height:1.5}h1{font-size:3.05em!important}h2{font-size:2.44em!important}h3{font-size:1.95em!important}.mui-row{display:-ms-flexbox;display:flex;-ms-flex:0 1 auto;flex:0 1 auto;-ms-flex-direction:row;flex-direction:row;-ms-flex-wrap:wrap;flex-wrap:wrap}.mui-column{-ms-flex:0 0 auto;flex:0 0 auto;-ms-flex-positive:1;flex-grow:1;-ms-flex-preferred-size:0;flex-basis:0;max-width:100%}@media screen and (max-width:400px){.mui-column{-ms-flex-preferred-size:100%;flex-basis:100%;max-width:100%}}.mui-column.-s12{-ms-flex-preferred-size:100%;flex-basis:100%;max-width:100%}@media screen and (min-width:600px){.mui-column.-m3{-ms-flex-preferred-size:25%;flex-basis:25%;max-width:25%}.mui-column.-m9{-ms-flex-preferred-size:75%;flex-basis:75%;max-width:75%}}.mui-button{display:inline-block;position:relative;padding:0 1em;font-size:16px;font-size:1rem;line-height:2;text-decoration:none;text-align:center;border:none;border-radius:.2rem}.mui-button,.mui-button:visited{color:#fff;background:#6d6d6d}.mui-checkbox>input[type=checkbox]{display:none}.mui-content-container{position:relative;width:90%;max-width:1100px;margin:0 auto}.mui-content-container:after{content:"";display:table;clear:both}.mui-page-container{-ms-flex:1 0 auto;flex:1 0 auto}.mui-hero-header>.effects{position:absolute;top:0;left:0;height:inherit;width:inherit}.mui-image{margin-left:auto;margin-right:auto}.mui-image.-js-lazy-load{opacity:0}.mui-modal-window{position:fixed;top:0;left:0;height:100%;width:100%;z-index:10;opacity:0}.mui-modal-window>.window{position:absolute;top:50%;left:50%;max-width:80vw;max-height:80vh;transform:translateX(-50%) translateY(-50%);z-index:11}.mui-modal-window>.window>.content{overflow:hidden;border-radius:.2rem}.mui-modal-window>.window>.content.-image .mui-image{max-height:80vh;max-width:80vw}.mui-modal-window>.window>.close-icon{position:absolute;top:-16px;top:-1rem;right:-16px;right:-1rem;height:32px;height:2rem;width:32px;width:2rem;font-size:25.6px;font-size:1.6rem;line-height:32px;line-height:2rem;text-align:center;border-radius:50%;background:#fff;border:2px solid #c6c6c6;color:#6d6d6d;z-index:2;box-sizing:content-box}.mui-modal-window>.mui-shadow-toggle{position:fixed;z-index:10;top:0;left:0;height:100vh;width:100vw}.mui-header-logo{display:inline-block;line-height:64px;line-height:4rem}.mui-header-logo>.link{color:#000;text-decoration:none}.mui-header-navigation>.links-list{list-style:none;margin:0}.mui-header-navigation>.links-list>.item{display:inline-block;margin:0}.mui-header-navigation>.links-list>.item>.link{display:inline-block;padding:0 1.5rem;line-height:64px;line-height:4rem;text-decoration:none;color:#000}.mui-header-navigation.-mobile-version>.links-list{display:block;visibility:hidden;position:fixed;top:0;right:0;z-index:11;overflow-y:scroll;height:100%;width:80%;padding:16px;padding:1rem;font-size:32px;font-size:2rem;text-align:right;transform:translateX(100%);background:#fff;box-shadow:0 0 10rem rgba(0,0,0,.3)}.mui-header-navigation.-mobile-version>.links-list>.item{display:block;overflow:hidden;margin-left:0}.mui-header-navigation.-mobile-version>.links-list>.item:first-of-type{margin-top:64px;margin-top:4rem}.mui-header-navigation.-mobile-version>.links-list>.item:not(:first-of-type){border-top:1px solid #c6c6c6}.mui-header-navigation.-mobile-version>.links-list>.item>.link{display:block;padding:8px 16px;padding:.5rem 1rem}.mui-navigation-toggle.-hamburger{display:inline-block;position:relative;float:right;height:64px;height:4rem;line-height:64px;line-height:4rem;padding:0 16px;padding:0 1rem;font-size:32px;font-size:2rem;color:#6d6d6d}.mui-page-header{position:relative;max-height:64px;max-height:4rem}.mui-page-header:after{content:"";display:table;clear:both}.mui-p{display:block;margin:0 auto;max-width:1100px;text-align:justify;text-align-last:left}.mui-progress-bar>.value{position:absolute;top:0;left:0;height:100%;width:100%;line-height:32px;line-height:2rem;text-align:center;color:#383838}.mui-progress-bar.-radial>.value{line-height:128px;line-height:8rem}.mui-scroll-fix{position:fixed;top:0;left:0;height:100vh;width:100%;z-index:100}.mui-shadow-toggle{position:fixed;left:0;top:0;z-index:10;height:100%;width:100%;background:transparent;opacity:0}.mui-svg-icon{display:inline-block;height:1em;max-height:1em;max-width:1em;transform:translateY(-10%);vertical-align:middle}.mui-svg-icon.-white{fill:#fff}.mui-svg-icon.-black{fill:#000}.mui-svg-sprite{position:fixed}.mui-page-header{padding-left:1rem;width:100%;z-index:1}.mui-image.-logo{float:left;display:inline-block;height:3rem;width:3rem;margin:.5rem 1rem .5rem 0}.mui-header-logo h1{line-height:3.7rem}.mui-hero-header>.effects{background:linear-gradient(to right,#7b4397,#dc2430);opacity:.3}.mui-header-navigation.-mobile-version .links-list{background:#000;color:#fff}.example .mui-header-navigation.-mobile-version .links-list{background:#fff;color:#000}@media screen and (max-width:600px){aside{display:none!important}}.aside-navigation{padding:0 1rem}.aside-navigation a{text-decoration:none}.aside-navigation .sub-list{list-style:none;padding-left:1em}.aside-navigation .sub-list a:before{content:'- '}hr{border:0;height:0;border-top:1px solid #c6c6c6}.anchor-link{text-decoration:none}</style>
</head>
<body>
    <!-- scroll-fix -->
    <div class='mui-scroll-fix'></div>
    <!-- /scroll-fix -->



    <!-- page-header -->
    <header class='mui-page-header -black-bg'>
        <!-- content-container -->
        <div class='mui-content-container'>


            <!-- header-logo -->
            <div class='mui-header-logo _left'>
                <img class='mui-image -logo -js-lazy-load' data-src='./muilessium.png' src='data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7' alt='logo'>
                <a class='link -white -f-blue-3 _right' href='/'>
                    <h1 class='heading _bigger-1'>{{ project.name }} <span class='_smaller-2'>v{{ project.version }}</span></h1>
                </a>
            </div>
            <!-- /header-logo -->


            <!-- header-navigation -->
            <nav class='mui-header-navigation -mobile-version _right'>
                <div class='mui-navigation-toggle -hamburger -f-blue-3-bg' role='button' aria-label='Open navigation'>
                    <svg class='mui-svg-icon -white'><use xlink:href='#svg-icon--hamburger'></use></svg>
                </div>
                <ul class='links-list'>
                    <li class='item'><a class='link -white -f-blue-3-bg -f-white' href='#overview' aria-label='Framework overview'>Overview</a></li>
                    <li class='item'><a class='link -white -f-blue-3-bg -f-white' href='#components' aria-label='Components'>Components</a></li>
                    <li class='item'><a class='link -white -f-blue-3-bg -f-white' href='#faq' aria-label='f.a.q.'>F.A.Q.</a></li>
                </ul>
                <div class='mui-navigation-toggle mui-shadow-toggle' aria-label='Close navigation'></div>
            </nav>
            <!-- header-navigation -->


        </div>
        <!-- /content-container -->
    </header>
    <!-- /page-header -->




    <!-- content-container -->
    <div class='mui-content-container'>


        <!-- aside navigation -->
        <aside class='mui-column -s12 -m3 _right'>
            <div class='aside-navigation _smaller-1 _line-1-25 _separate-3' role='navigation'>
                <a class='-f-blue-3' href='#overview'>Overview</a>
                <ul class='sub-list _separate-1'>
                    <li><a class='-f-blue-3' href='#cdn'>CDN</a></li>
                    <li><a class='-f-blue-3' href='#grid-overview'>Grid</a></li>
                    <li><a class='-f-blue-3' href='#page-layout-overview'>Page layout</a></li>
                    <li><a class='-f-blue-3' href='#meta-viewport'>Viewport</a></li>
                    <li><a class='-f-blue-3' href='#typography-overview'>Typography</a></li>
                    <li><a class='-f-blue-3' href='#colors-overview'>Colors</a></li>
                    <li><a class='-f-blue-3' href='#helpers-overview'>Helpers</a></li>
                    <li><a class='-f-blue-3' href='#globals-overview'>Globals</a></li>
                    <li><a class='-f-blue-3' href='#events-overview'>Events</a></li>
                    <li><a class='-f-blue-3' href='#store-overview'>Store</a></li>
                    <li><a class='-f-blue-3' href='#factory-overview'>Factory</a></li>
                    <li><a class='-f-blue-3' href='#controls-overview'>Controls</a></li>
                    <li><a class='-f-blue-3' href='#utils'>Utils</a></li>
                    <li><a class='-f-blue-3' href='#lazy-loading-images-overview'>Lazy loading</a></li>
                    <li><a class='-f-blue-3' href='#icons-overview'>Icons</a></li>
                    <li><a class='-f-blue-3' href='#animations-overview'>Animations</a></li>
                </ul>
                <hr class='_separate-1'>
                <a class='-f-blue-3' href='#components'>Components</a>
                <ul class='sub-list _separate-1'>
                {{#files}}
                    {{#blocks}}
                        <li>
                            <a class='-f-blue-3' href='#{{../file}}'>{{ name }}</a>
                        </li>
                    {{/blocks}}
                {{/files}}
                </ul>
                <hr class='_separate-1'>
                <a class='-f-blue-3' href='#faq'>F.A.Q.</a>
            </div>
        </aside>
        <!-- /aside navigation -->




        <!-- main content -->
        <main class='mui-column -s12 -m9'>
            <!-- content-container -->
            <div class='mui-content-container'>


                <!-- overview -->
                <div class='_separate-3'>
                    <div class='mui-row'>
                        <a class='anchor-link -black -f-blue-3' href='#overview'>
                            <h2 class='_bigger-2' id='overview'>Overview</h2>
                        </a>
                    </div>

                    <p class='mui-p _separate-1'>Muilessium is the UI framework created for the fast development of the websites. Simple websites which constitute a significant part of the internet. No SPA. No jQuery. No heavy plugins. Just a number of components and helpers - all that you need to develop a website. It has a REM-based sizes system for non-designers and a simple scheme of usage: Sketch &rarr; Construct &rarr; Paint &rarr; Use.</p>

                    <div class='_separate-1'>
                        <a class='mui-button -blue-3-bg -white -f-blue-5-bg' href='https://github.com/sfi0zy/muilessium'>Muilessium on GitHub</a>
                        <a class='mui-button -blue-3-bg -white -f-blue-5-bg' href='https://www.npmjs.com/package/muilessium'>Muilessium on NPM</a>
                    </div>
                </div>
                <!-- /overview -->


                <!-- CDN -->
                <div class='_separate-5'>
                    <div class='mui-row'>
                        <a class='anchor-link -black -f-blue-3' href='#cdn'>
                            <h3 class='_bigger-2' id='cdn'>CDN</h3>
                        </a>
                    </div>
                    <div class='_separate-1'>
                        <h4 class='_bigger-0 _separate-1'>Unpkg</h4>
                        <a href='https://unpkg.com/muilessium/dist/js/muilessium.min.js' class='mui-button -f-blue-3-bg'>JS</a>
                        <a href='https://unpkg.com/muilessium/dist/css/muilessium.min.css' class='mui-button -f-blue-3-bg'>CSS</a>

                        <h4 class='_bigger-0 _separate-1'>jsDelivr</h4>
                        <a href='https://cdn.jsdelivr.net/npm/muilessium/dist/js/muilessium.min.js' class='mui-button -f-blue-3-bg'>JS</a>
                        <a href='https://cdn.jsdelivr.net/npm/muilessium/dist/css/muilessium.min.css' class='mui-button -f-blue-3-bg'>CSS</a>
                    </div>
                </div>
                <!-- /CDN -->


                <!-- grid overview -->
                <div class='_separate-5'>
                    <div class='mui-row'>
                        <a class='anchor-link -black -f-blue-3' href='#grid-overview'>
                            <h3 class='_bigger-2' id='grid-overview'>Grid</h3>
                        </a>
                    </div>
                    <div class='_smaller-2 -grey-4'>/src/less/components/grid-flex.less</div>

                    <p class='mui-p _separate-1'>Muilessium uses a grid with 12 columns based on flexbox (and has a legacy version based on floats, but only in custom builds). Rows and columns have classes .mui-row and .mui-column and columns can have options -s* for a small screen, -m* for a medium screen and -l* for a large screen. Default breakpoints are 400, 600 and 1200px. Its behavior is similar to the grid from flexboxgrid.com, but it uses RSCSS-style class names.</p>

                    <div class='grid-preview _separate-2'>
                        <div class='mui-row'>
                            <div class='mui-column -s1 -blue-5-bg -blue-1 _text-center _line-2r _smaller-1'>-s1</div>
                            <div class='mui-column -s11 -blue-1-bg -blue-5 _text-center _line-2r _smaller-1'>-s11</div>
                        </div>
                        <div class='mui-row'>
                            <div class='mui-column -s3 -blue-5-bg -blue-1 _text-center _line-2r _smaller-1'>-s3</div>
                            <div class='mui-column -s9 -blue-1-bg -blue-5 _text-center _line-2r _smaller-1'>-s9</div>
                        </div>
                        <div class='mui-row'>
                            <div class='mui-column -s6 -m4 -l6 -blue-5-bg -blue-1 _text-center _line-2r _smaller-1'>-s6 -m4 -l6</div>
                            <div class='mui-column -s6 -m8 -l6 -blue-1-bg -blue-5 _text-center _line-2r _smaller-1'>-s6 -m8 -l6</div>
                        </div>
                        <div class='mui-row'>
                            <div class='mui-column -m6 -l2 -blue-5-bg -blue-1 _text-center _line-2r _smaller-1'>-m6 -l2</div>
                            <div class='mui-column -m6 -l10 -blue-1-bg -blue-5 _text-center _line-2r _smaller-1'>-m6 -l10</div>
                        </div>
                    </div>

                    <div class='code-example _separate-2 _smaller-1'>
                        <pre class='source-code'>
&lt;div class='mui-row'&gt;
    &lt;div class='mui-column -s1'&gt;-s1&lt;/div&gt;
    &lt;div class='mui-column -s11'&gt;-s11&lt;/div&gt;
&lt;/div&gt;
&lt;div class='mui-row'&gt;
    &lt;div class='mui-column -s3'&gt;-s3&lt;/div&gt;
    &lt;div class='mui-column -s9'&gt;-s9&lt;/div&gt;
&lt;/div&gt;
&lt;div class='mui-row'&gt;
    &lt;div class='mui-column -s6 -m4 -l6'&gt;-s6 -m4 -l6&lt;/div&gt;
    &lt;div class='mui-column -s6 -m8 -l6'&gt;-s6 -m8 -l6&lt;/div&gt;
&lt;/div&gt;
&lt;div class='mui-row'&gt;
    &lt;div class='mui-column -m6 -l2'&gt;-m6 -l2&lt;/div&gt;
    &lt;div class='mui-column -m6 -l10'&gt;-m6 -l10&lt;/div&gt;
&lt;/div&gt;</pre>
                    </div>
                </div>
                <!-- /grid overview -->


                <!-- page layout overview -->
                <div class='_separate-5'>
                    <div class='mui-row'>
                        <a class='anchor-link -black -f-blue-3' href='#page-layout-overview'>
                            <h3 class='_bigger-2' id='page-layout-overview'>Page layout</h3>
                        </a>
                    </div>

                    <p class='mui-p _separate-1'>The basic page layout includes header, page container and footer. This layout is the simplest way to create a sticky footer, but IE11 does not support flexbox greatly, so we have some incorrect behavior in it.</p>

                    <div class='code-example _separate-2 _smaller-1'>
                        <pre class='source-code'>
&lt;div class='mui-scroll-fix'&gt;&lt;/div&gt;
&lt;header class='mui-page-header'&gt;header&lt;/header&gt;
&lt;div class='mui-page-container'&gt;...&lt;/div&gt;
&lt;footer class='mui-page-footer'&gt;footer&lt;/footer&gt;</pre>
                    </div>
                </div>
                <!-- /page layout overview -->



                <!-- viewport overview -->
                <div class='_separate-5'>
                    <div class='mui-row'>
                        <a class='anchor-link -black -f-blue-3' href='#meta-viewport'>
                            <h3 class='_bigger-2' id='meta-viewport'>Recommended viewport</h3>
                        </a>
                    </div>

                    <p class='mui-p _separate-1'>Muilessium uses Hammer.js (exported in Muilessium.DEPENDENCIES), and it is recommended to use the following meta in your pages:</p>

                    <div class='code-example _separate-2 _smaller-1'>
                        <pre class='source-code'>
&lt;meta name='viewport' content='user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1'&gt;</pre>
                    </div>
                </div>
                <!-- /viewport overview -->


                <!-- typography overview -->
                <div class='_separate-5'>
                    <div class='mui-row'>
                        <a class='anchor-link -black -f-blue-3' href='#typography-overview'>
                            <h3 class='_bigger-2' id='typography-overview'>Typography</h3>
                        </a>
                    </div>
                    <div class='_smaller-2 -grey-4'>/src/less/fonts.less</div>

                    <p class='mui-p _separate-1'>Typography in Muilessium is fluid, and it is based on default system fonts and _bigger-* and _smaller-* <a href='#helpers-overview'>helpers</a>. Note: these helpers have different behavior on different screen sizes to avoid troubles with readability.</p>
                    <div class='h1'>H1 Heading (+5)</div>
                    <div class='h2'>H2 Heading (+4)</div>
                    <div class='h3'>H3 Heading (+3)</div>
                    <div class='h4'>H4 Heading (+2)</div>
                    <div class='h5'>H5 Heading (+1)</div>
                    <div class='h6'>H6 Heading (+0)</div>
                    <div class='_smaller-0'>Normal text</div>
                    <div class='_smaller-1'>Text (-1)</div>
                    <div class='_smaller-2'>Text (-2)</div>
                    <div class='_smaller-3'>Text (-3)</div>
                    <div class='_smaller-4'>Text (-4)</div>
                    <div class='_smaller-5'>Text (-5)</div>
                </div>
                <!-- /typography overview -->



                <!-- colors overview -->
                <div class='_separate-5'>
                    <div class='mui-row'>
                        <a class='anchor-link -black -f-blue-3' href='#colors-overview'>
                            <h3 class='_bigger-2' id='colors-overview'>Colors</h3>
                        </a>
                    </div>
                    <div class='_smaller-2 -grey-4'>/src/less/colors.less</div>

                    <p class='mui-p _separate-1'>A number of classes for painting. There are four types of classes:</p>
                    <ul class='mui-list _separate-1 _smaller-1'>
                        <li class='item'><b>-color-number</b> - text color for the element. For example "-blue-3"</li>
                        <li class='item'><b>-color-number-bg</b> - background for the element</li>
                        <li class='item'><b>-f-color-number</b> - text color for the :hover and :focus states of the element</li>
                        <li class='item'><b>-f-color-number-bg</b> - background color for the :hover and :focus states</li>
                    </ul>

                    <div class='_separate-2'>
                        <div class='mui-row'>
                            <div class='color-preview -white-bg'></div>
                            <div class='color-name _smaller-1'>White</div>
                        </div>

                        <div class='mui-row'>
                            <div class='color-preview -grey-1-bg'></div>
                            <div class='color-preview -grey-2-bg'></div>
                            <div class='color-preview -grey-3-bg'></div>
                            <div class='color-preview -grey-4-bg'></div>
                            <div class='color-preview -grey-5-bg'></div>
                            <div class='color-name _smaller-1'>Grey 1-5</div>
                        </div>

                        <div class='mui-row'>
                            <div class='color-preview -black-bg'></div>
                            <div class='color-name _smaller-1'>Black</div>
                        </div>

                        <div class='mui-row'>
                            <div class='color-preview -brown-1-bg'></div>
                            <div class='color-preview -brown-2-bg'></div>
                            <div class='color-preview -brown-3-bg'></div>
                            <div class='color-preview -brown-4-bg'></div>
                            <div class='color-preview -brown-5-bg'></div>
                            <div class='color-name _smaller-1'>Brown 1-5</div>
                        </div>

                        <div class='mui-row'>
                            <div class='color-preview -orange-1-bg'></div>
                            <div class='color-preview -orange-2-bg'></div>
                            <div class='color-preview -orange-3-bg'></div>
                            <div class='color-preview -orange-4-bg'></div>
                            <div class='color-preview -orange-5-bg'></div>
                            <div class='color-name _smaller-1'>Orange 1-5</div>
                        </div>

                        <div class='mui-row'>
                            <div class='color-preview -yellow-1-bg'></div>
                            <div class='color-preview -yellow-2-bg'></div>
                            <div class='color-preview -yellow-3-bg'></div>
                            <div class='color-preview -yellow-4-bg'></div>
                            <div class='color-preview -yellow-5-bg'></div>
                            <div class='color-name _smaller-1'>Yellow 1-5</div>
                        </div>

                        <div class='mui-row'>
                            <div class='color-preview -red-1-bg'></div>
                            <div class='color-preview -red-2-bg'></div>
                            <div class='color-preview -red-3-bg'></div>
                            <div class='color-preview -red-4-bg'></div>
                            <div class='color-preview -red-5-bg'></div>
                            <div class='color-name _smaller-1'>Red 1-5</div>
                        </div>

                        <div class='mui-row'>
                            <div class='color-preview -purple-1-bg'></div>
                            <div class='color-preview -purple-2-bg'></div>
                            <div class='color-preview -purple-3-bg'></div>
                            <div class='color-preview -purple-4-bg'></div>
                            <div class='color-preview -purple-5-bg'></div>
                            <div class='color-name _smaller-1'>Purple 1-5</div>
                        </div>

                        <div class='mui-row'>
                            <div class='color-preview -violet-1-bg'></div>
                            <div class='color-preview -violet-2-bg'></div>
                            <div class='color-preview -violet-3-bg'></div>
                            <div class='color-preview -violet-4-bg'></div>
                            <div class='color-preview -violet-5-bg'></div>
                            <div class='color-name _smaller-1'>Violet 1-5</div>
                        </div>

                        <div class='mui-row'>
                            <div class='color-preview -blue-1-bg'></div>
                            <div class='color-preview -blue-2-bg'></div>
                            <div class='color-preview -blue-3-bg'></div>
                            <div class='color-preview -blue-4-bg'></div>
                            <div class='color-preview -blue-5-bg'></div>
                            <div class='color-name _smaller-1'>Blue 1-5</div>
                        </div>

                        <div class='mui-row'>
                            <div class='color-preview -light-blue-1-bg'></div>
                            <div class='color-preview -light-blue-2-bg'></div>
                            <div class='color-preview -light-blue-3-bg'></div>
                            <div class='color-preview -light-blue-4-bg'></div>
                            <div class='color-preview -light-blue-5-bg'></div>
                            <div class='color-name _smaller-1'>Light blue 1-5</div>
                        </div>

                        <div class='mui-row'>
                            <div class='color-preview -cyan-1-bg'></div>
                            <div class='color-preview -cyan-2-bg'></div>
                            <div class='color-preview -cyan-3-bg'></div>
                            <div class='color-preview -cyan-4-bg'></div>
                            <div class='color-preview -cyan-5-bg'></div>
                            <div class='color-name _smaller-1'>Cyan 1-5</div>
                        </div>

                        <div class='mui-row'>
                            <div class='color-preview -green-1-bg'></div>
                            <div class='color-preview -green-2-bg'></div>
                            <div class='color-preview -green-3-bg'></div>
                            <div class='color-preview -green-4-bg'></div>
                            <div class='color-preview -green-5-bg'></div>
                            <div class='color-name _smaller-1'>Green 1-5</div>
                        </div>

                    </div>
                </div>
                <!-- colors overview -->


                <!-- helpers overview -->
                <div class='_separate-5'>
                    <div class='mui-row'>
                        <a class='anchor-link -black -f-blue-3' href='#helpers-overview'>
                            <h3 class='_bigger-2' id='helpers-overview'>Helpers</h3>
                        </a>
                    </div>
                    <div class='_smaller-2 -grey-4'>/src/less/helpers.less</div>

                    <p class='mui-p _separate-1'>Muilessium has a lot of CSS helpers, no need to add description for every of them. Only helpers can include the "!important" rules.</p>
                </div>
                <!-- /helpers overview -->


                <!-- Globals -->
                <div class='_separate-5'>
                    <div class='mui-row'>
                        <a class='anchor-link -black -f-blue-3' href='#globals-overview'>
                            <h3 class='_bigger-2' id='globals-overview'>Global Variables</h3>
                        </a>
                    </div>
                    <div class='_smaller-2 -grey-4'>/src/js/muilessium.js</div>
                    <p class='mui-p _separate-1'>Muilessium has only one global entry point - <i>window.Muilessium</i>. It has a number of useful fields:</p>
                    <ul class='mui-list _separate-1'>
                        <li class='item'><a class='-f-blue-3' href='#events-overview'>EVENTS</a> - the events observer</li>
                        <li class='item'><a class='-f-blue-3' href='#store-overview'>STORE</a> - global store for data</li>
                        <li class='item'><a class='-f-blue-3' href='#factory-overview'>FACTORY</a> - the main factory of components</li>
                        <li class='item'><a class='-f-blue-3' href='#controls-overview'>KEYBOARD, MOUSE, TOUCHPAD</a> - a number of utilities for controls</li>
                        <li class='item'><a class='-f-blue-3' href='#utils'>UTILS</a> - a number of useful utilities</li>
                        <li class='item'>DEPENDENCIES - a number of dependencies for internal usage</li>
                        <li class='item'>POLYFILLS - a number of polyfills for internal usage</li>
                    </ul>

                    <div class='mui-spoiler'>
                        <div class='title'>Here is an example of usage of UTILS, EVENTS and STORE</div>
                        <div class='content'>
                            <div class='code _separate-2 _smaller-1'>
                                <pre class='source-code'>document.addEventListener('DOMContentLoaded', () =&gt; {
    let _      = window.Muilessium.UTILS,
        STORE  = window.Muilessium.STORE,
        EVENTS = window.Muilessium.EVENTS;

    EVENTS.addEvent('data-updated.post-data');
    
    // ... in the first module

    EVENTS.addEventListener('data-updated.post-data', () =&gt; {
        console.log(STORE.get('post-data'));
    });
    
    // ... in the second module
    
    _.ajax.get('https://jsonplaceholder.typicode.com/posts/1', (responseText) =&gt; {
        STORE.set('post-data', responseText);
        EVENTS.fireEvent('data-updated.post-data');
    }, (status, statusText) =&gt; {
        console.log(`${status} - ${statusText}`);
    });
});
                                </pre>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /Globals -->


                <!-- events overview -->
                <div class='_separate-5'>
                    <div class='mui-row'>
                        <a class='anchor-link -black -f-blue-3' href='#events-overview'>
                            <h3 class='_bigger-2' id='events-overview'>Events</h3>
                        </a>
                    </div>
                    <div class='_smaller-2 -grey-4'>/src/js/events.js</div>

                    <p class='mui-p _separate-1'>Muilessium has a system of internal events. It exports that system as <i>Muilessium.EVENTS</i>. The main methods are:</p>
                    <ul class='mui-list _separate-1 _smaller-1'>
                        <li class='item'>addEvent<span class='-grey-3'>(name)</span></li>
                        <li class='item'>addEventListener<span class='-grey-3'>(name, callback, executeIfAlreadyFired=false)</span></li>
                        <li class='item'>fireEvent<span class='-grey-3'>(name)</span></li>
                    </ul>
                    <p class='mui-p _separate-1'>There are seven default events:</p>
                    <ol class='mui-list _smaller-1'>
                        <li class='item'>resize-window-height</li>
                        <li class='item'>resize-window-width</li>
                        <li class='item'>scroll-start</li>
                        <li class='item'>scroll-end</li>
                        <li class='item'>app-initialized</li>
                        <li class='item'>images-loaded</li>
                        <li class='item'>store-updated</li>
                    </ol>
                </div>
                <!-- /events overview -->


                <!-- store overview -->
                <div class='_separate-5'>
                    <div class='mui-row'>
                        <a class='anchor-link -black -f-blue-3' href='#store-overview'>
                            <h3 class='_bigger-2' id='store-overview'>Store</h3>
                        </a>
                    </div>
                    <div class='_smaller-2 -grey-4'>/src/js/store.js</div>

                    <p class='mui-p _separate-1'>Muilessium has a global store. It should be used to store different data and share it between components. Muilessium exports the store as <i>Muilessium.STORE</i>. The main methods are:</p>
                    <ul class='mui-list _separate-1 _smaller-1'>
                        <li class='item'>set<span class='-grey-3'>(path, data)</span></li>
                        <li class='item'>get<span class='-grey-3'>(path)</span></li>
                    </ul>
                </div>
                <!-- /stores overview -->


                <!-- factory overview -->
                <div class='_separate-5'>
                    <div class='mui-row'>
                        <a class='anchor-link -black -f-blue-3' href='#factory-overview'>
                            <h3 class='_bigger-2' id='factory-overview'>Factory</h3>
                        </a>
                    </div>
                    <div class='_smaller-2 -grey-4'>/src/js/factory.js<br>/src/js/component.js</div>

                    <p class='mui-p _separate-1'>Muilessium has a factory of components. It exports that system as <i>Muilessium.FACTORY</i>. The main methods are:</p>
                    <ul class='mui-list _separate-1 _smaller-1'>
                        <li class='item'>registerComponent<span class='-grey-3'>(type, component)</span></li>
                        <li class='item'>create<span class='-grey-3'>(type, selector, options)</span></li>
                    </ul>
                    <p class='mui-p _separate-1'>All components should extend the base Component class. It should be exported as <i>Muilessium.FACTORY.BaseComponent</i>.</p>
                </div>
                <!-- /factory overview -->


                <!-- controls overview -->
                <div class='_separate-5'>
                    <div class='mui-row'>
                        <a class='anchor-link -black -f-blue-3' href='#controls-overview'>
                            <h3 class='_bigger-2' id='controls-overview'>Controls</h3>
                        </a>
                    </div>
                    <div class='_smaller-2 -grey-4'>/src/js/controls/keyboard.js<br>/src/js/controls/mouse.js<br>/src/js/controls/touchpad.js</div>

                    <p class='mui-p _separate-1'>Muilessium has a number of handy utilities for controls. It exports them as <i>Muilessium.KEYBOARD, Muilessium.MOUSE and Muilessium.TOUCHPAD</i>. They should be used to keep the code clean and readable.</p>
                </div>
                <!-- /controls overview -->


                <!-- utils overview -->
                <div class='_separate-5'>
                    <div class='mui-row'>
                        <a class='anchor-link -black -f-blue-3' href='#utils'>
                            <h3 class='_bigger-2' id='utils'>Utils</h3>
                        </a>
                    </div>
                    <div class='_smaller-2 -grey-4'>/src/js/utils.js</div>

                    <p class='mui-p _separate-1'>Muilessium exports over 60 internal utilities as <i>Muilessium.UTILS</i>. In the source code they are separated by categories:</p>

                    <ul class='mui-list _smaller-1'>
                        <li id='utils-ajax' class='item'>AJAX</li>
                        <li id='utils-animations' class='item'>Animations</li>
                        <li id='utils-aria' class='item'>WAI-ARIA</li>
                        <li id='utils-attributes' class='item'>HTML attributes</li>
                        <li id='utils-checks' class='item'>Checking</li>
                        <li id='utils-css-classes' class='item'>CSS classes</li>
                        <li id='utils-focus-and-click' class='item'>Focus &amp; click</li>
                        <li id='utils-scroll' class='item'>Scroll</li>
                        <li id='utils-viewport' class='item'>Viewport</li>
                        <li id='utils-uncategorized' class='item'>Uncategorized</li>
                    </ul>
                </div>
                <!-- /utils overview -->



                <!-- lazy loading overview -->
                <div class='_separate-5'>
                    <div class='mui-row'>
                        <a class='anchor-link -black -f-blue-3' href='#lazy-loading-images-overview'>
                            <h3 class='_bigger-2' id='lazy-loading-images-overview'>Lazy loading images</h3>
                        </a>
                    </div>
                    <div class='_smaller-2 -grey-4'>/src/js/utils/uncategorized.js</div>

                    <div class='code-example _separate-2 _smaller-1'>
                        <pre class='source-code'>
&lt;img class='mui-image -js-lazy-load'
    data-src='....'
    data-srcset='....'
    data-sizes='....'
    alt='Lazy loaded image'
    src='data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7'&gt;</pre>
                    </div>
                </div>
                <!-- /lazy loading overview -->


                <!-- icons overview -->
                <div class='_separate-5'>
                    <div class='mui-row'>
                        <a class='anchor-link -black -f-blue-3' href='#lazy-loading-images-overview'>
                            <h3 class='_bigger-2' id='icons-overview'>Icons</h3>
                        </a>
                    </div>
                    <div class='_smaller-2 -grey-4'>/src/less/components/svg-icon.less</div>

                    <p class='mui-p'>Muilessium uses Ionicons by default. You should put the following sprite at the end of your pages. You can create custom icons by replacing symbols in this SVG.</p>
                    <div class='code-example _separate-2 _smaller-1'>
                        <pre class='source-code'>

&lt;div class='mui-svg-sprite'&gt;
    &lt;svg version='1.1' xmlns='http://www.w3.org/2000/svg'&gt;
        &lt;symbol viewBox='0 0 512 512' id='svg-icon--check'&gt;&lt;path d='M186.301 339.893L96 249.461l-32 30.507L186.301 402 448 140.506 416 110z'&gt;&lt;/path&gt;&lt;/symbol&gt;
        &lt;symbol viewBox='0 0 512 512' id='svg-icon--close'&gt;&lt;path d='M405 136.798L375.202 107 256 226.202 136.798 107 107 136.798 226.202 256 107 375.202 136.798 405 256 285.798 375.202 405 405 375.202 285.798 256z'&gt;&lt;/path&gt;&lt;/symbol&gt;
        &lt;symbol viewBox='0 0 512 512' id='svg-icon--arrow-down'&gt;&lt;path d='M277.375 85v259.704l119.702-119.702L427 256 256 427 85 256l29.924-29.922 119.701 118.626V85h42.75z'&gt;&lt;/path&gt;&lt;/symbol&gt;
        &lt;symbol viewBox='0 0 512 512' id='svg-icon--arrow-right'&gt;&lt;path d='M85 277.375h259.704L225.002 397.077 256 427l171-171L256 85l-29.922 29.924 118.626 119.701H85v42.75z'&gt;&lt;/path&gt;&lt;/symbol&gt;
        &lt;symbol viewBox='0 0 512 512' id='svg-icon--arrow-left'&gt;&lt;path d='M427 234.625H167.296l119.702-119.702L256 85 85 256l171 171 29.922-29.924-118.626-119.701H427v-42.75z'&gt;&lt;/path&gt;&lt;/symbol&gt;
        &lt;symbol viewBox='0 0 512 512' id='svg-icon--arrow-up'&gt;&lt;path d='M277.375 427V167.296l119.702 119.702L427 256 256 85 85 256l29.924 29.922 119.701-118.626V427h42.75z'&gt;&lt;/path&gt;&lt;/symbol&gt;
        &lt;symbol viewBox='0 0 512 512' id='svg-icon--star'&gt;&lt;path d='M256 372.686L380.83 448l-33.021-142.066L458 210.409l-145.267-12.475L256 64l-56.743 133.934L54 210.409l110.192 95.525L131.161 448z'&gt;&lt;/path&gt;&lt;/symbol&gt;
        &lt;symbol viewBox='0 0 512 512' id='svg-icon--hamburger'&gt;&lt;path d='M64 384h384v-42.666H64V384zm0-106.666h384v-42.667H64v42.667zM64 128v42.665h384V128H64z'&gt;&lt;/path&gt;&lt;/symbol&gt;
        &lt;symbol viewBox='0 0 512 512' id='svg-icon--tags'&gt;&lt;path d='M472 239.2s-.1 0 0 0L282.1 48.1l-1.4-1.4h-.5c-7.5-7.2-16.1-10.9-27.1-11.1l-89.9-3.3-3.9-.1c-10.1.1-20 4.1-27.7 11.8l-27.1 27.2c7.4-6.6 16.6-10 26-10.1l3.8.1 89.8 3.3c11 .2 19.7 3.9 27.2 11.1h.5l1.4 1.4L443 268.1c10 10.8 10.7 28.2 0 38.9l29-28.9c10.6-10.7 10-28.1 0-38.9z'&gt;&lt;/path&gt;&lt;path d='M428 282.5h.3L238.6 91.4l-1.3-1.4h-.3c-7.5-7.2-15.9-10.9-26.9-11.1L120 75.6l-4-.1c-9.2.1-18.2 3.4-25.6 9.8-.3.3-.7.6-1 .9l-1.2 1.2-44.3 44.5C35.8 140 32 150.8 32 161.4v.1l.1 3.8 5.9 87.9v1.9c1 7.9 4.2 15.6 9.6 22l5.1 4.9L239 470.4l2.8 2.8c10.7 9.4 27.1 9 37.3-1.3l13.1-13.2c.5-.4.9-.8 1.4-1.3l26.9-27c-.2.1-.3.2-.5.4l108.3-109.3c10.6-10.7 10.7-28.2-.3-39zm-317.4-143c6.6-4 14.3-6.3 22.6-6.3 23.9 0 43.4 19.4 43.4 43.4 0 8.3-2.3 16-6.3 22.6-7.6 12.5-21.3 20.8-37 20.8-23.9 0-43.4-19.4-43.4-43.4-.1-15.8 8.2-29.5 20.7-37.1z'&gt;&lt;/path&gt;&lt;/symbol&gt;
    &lt;/svg&gt;
&lt;/div&gt;
                        </pre>
                    </div>
                </div>
                <!-- /icons overview -->


                <!-- animations overview -->
                <div class='_separate-5'>
                    <div class='mui-row'>
                        <a class='anchor-link -black -f-blue-3' href='#lazy-loading-images-overview'>
                            <h3 class='_bigger-2' id='animations-overview'>Animations</h3>
                        </a>
                    </div>
                    <div class='_smaller-2 -grey-4'>/src/js/utils/animations.js<br>/src/less/animations.less</div>

                    <p class='mui-p _separate-1'>There are two ways to use animations. The first one:</p>
                    <div class='code-example _separate-2 _smaller-1'>
                        <pre class='source-code'>
&lt;div class='-js-animation [ -hidden-by-default ]
    [ -fade-in  | -fade-in-left  | -fade-in-right  | -fade-in-up  | -fade-in-down |
      -fade-out | -fade-out-left | -fade-out-right | -fade-out-up | -fade-out-down ]'&gt;&lt;/div&gt;
&lt;script&gt;Muilessium.UTILS.activateAnimation(element)&lt;/script&gt;</pre>
                    </div>

                    <p class='mui-p _separate-1'>The second one:</p>
                    <div class='code-example _separate-2 _smaller-1'>
                        <pre class='source-code'>
&lt;script&gt;Muilessium.UTILS.animateElement(element, 'fade-in')&lt;/script&gt;</pre>
                    </div>
                    <p class='mui-p _separate-1'>Both ways have equal internal behavior and the names of the animations. The first one is useful if the elements should be animated once (in landing page or something similar). The second way is useful if you need to animate one element multiple times.</p>
                </div>
                <!-- /animations overview -->

                <!-- components overview -->
                <div class='_separate-5'>
                    <div class='mui-row'>
                        <a class='anchor-link -black -f-blue-3' href='#components'>
                            <h3 class='_bigger-2' id='components'>Components</h3>
                        </a>
                    </div>

                    <p class='mui-p _separate-1'>Muilessium has a number of components listed below. Every component has a markup shown in example and this markup should be used as is, because some initializations of components are based on their markups. All components are stored in <i>Muilessium.FACTORY.componentsCache</i>. If the main element of such component has an ID, the component can be obtained using <i>Muilessium.get(componentName, id)</i>.</p>

                    {{#files}}
                        <div id='{{file}}' class='_allow-empty'></div>
                        {{#blocks }}
                            <div class='_separate-5'>
                                <div class='mui-row'>
                                    <a class='anchor-link -black -f-blue-3' href='#{{../file}}'>
                                        <h4 class='_bigger-1'>{{ name }}</h4>
                                    </a>
                                </div>
                                <div class='_smaller-2 -grey-4'>{{ ../file }}</div>
                                {{#if description }}
                                    <p class='mui-p _separate-1'>{{ description }}</p>
                                {{/if}}
                                {{#if component }}
                                    <div class='_separate-1 _smaller-1'>[[ {{ component }} ]] <span class='-grey-3'>- Use Muilessium.get('{{ component }}', id) to get it.</span></div>
                                {{/if}}
                                {{#if method}}
                                    <div class='_separate-1'>
                                        <ul class='mui-list _smaller-1'>
                                            {{#method}}
                                                <li class='item'>
                                                    <span>{{ name }}</span>
                                                    {{#if description }}
                                                        <span class='-grey-3'> - {{ description }}</span>
                                                    {{/if}}
                                                </li>
                                            {{/method}}
                                        </ul>
                                    </div>
                                {{/if}}
                                {{#depends}}
                                    <div class='_smaller-1 -blue-4'>Depends on {{ depends }}</div>
                                {{/depends}}
                                {{#requires}}
                                    <div class='_smaller-1 -red-4'>Requires {{ requires }}</div>
                                {{/requires}}
                                {{#if markup}}
                                    <div class='_separate-1'>
                                        <div class='example _separate-2'>{{{ markup.example }}}</div>
                                        {{#state}}
                                            <div class='state _separate-2'>
                                                <h5 class='_smaller-1'>{{ ../../name }} with {{name}} option</h5>
                                                <div class='example _separate-2' data-class='{{name}}'>{{{ ../markup.example }}}</div>
                                            </div>
                                        {{/state}}
                                        <div class='mui-spoiler'>
                                            <div class='title'>Source code</div>
                                            <div class='content'>
                                                <div class='code _separate-2 _smaller-1'>
                                                    <pre class='source-code'>{{{markup.escaped}}}</pre>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {{/if}}
                            </div>
                        {{/blocks}}
                    {{/files}}
                </div>
                <!-- components overview -->




                <!-- f.a.q. -->
                <div class='_separate-5'>
                    <div class='mui-row'>
                        <a class='anchor-link -black -f-blue-3' href='#faq'>
                            <h3 class='_bigger-2' id="faq">F.A.Q.</h3>
                        </a>
                    </div>

                    <div class='questions-list _separate-1'>
                        <div class='_separate-1'>
                            <div class='question'>Can I use Muilessium in my project?</div>
                            <div class='answer'>Yes, Muilessium is distributed under the MIT license and you can use it in your projects for free.</div>
                        </div>

                        <div class='_separate-1'>
                            <div class='question'>What browsers are supported?</div>
                            <div class='answer'>All modern evergreen browsers and IE11.</div>
                        </div>
                        
                        <div class='_separate-1'>
                            <div class='question'>What can I do if I found a bug?</div>
                            <div class='answer'>If you found a bug - don't worry, Muilessium is in not released yet and it can have bugs. You can <a href='https://github.com/sfi0zy/muilessium/issues' class='-f-blue-3'>open an issue on GitHub</a> and I will fix a problem.</div>
                        </div>
                    </div>
                </div>
                <!-- /f.a.q. -->



            </div>
            <!-- /content-container -->


        </main>
    </div>
    <!-- /content-container -->



    <div class='mui-page-footer _text-center _line-3r -white -black-bg'>
        <span>Copyright &copy; Ivan Bogachev, 2016-2017</span>
    </div>

    <link rel='stylesheet' href='./css/muilessium.min.css?v={{ project.version }}'>
    <script src='./js/muilessium.min.js?v={{ project.version }}'></script>

    <div class='mui-svg-sprite'>
        <svg version='1.1' xmlns='http://www.w3.org/2000/svg'>
            <symbol viewBox='0 0 512 512' id='svg-icon--check'><path d='M186.301 339.893L96 249.461l-32 30.507L186.301 402 448 140.506 416 110z'></path></symbol>
            <symbol viewBox='0 0 512 512' id='svg-icon--close'><path d='M405 136.798L375.202 107 256 226.202 136.798 107 107 136.798 226.202 256 107 375.202 136.798 405 256 285.798 375.202 405 405 375.202 285.798 256z'></path></symbol>
            <symbol viewBox='0 0 512 512' id='svg-icon--arrow-down'><path d='M277.375 85v259.704l119.702-119.702L427 256 256 427 85 256l29.924-29.922 119.701 118.626V85h42.75z'></path></symbol>
            <symbol viewBox='0 0 512 512' id='svg-icon--arrow-right'><path d='M85 277.375h259.704L225.002 397.077 256 427l171-171L256 85l-29.922 29.924 118.626 119.701H85v42.75z'></path></symbol>
            <symbol viewBox='0 0 512 512' id='svg-icon--arrow-left'><path d='M427 234.625H167.296l119.702-119.702L256 85 85 256l171 171 29.922-29.924-118.626-119.701H427v-42.75z'></path></symbol>
            <symbol viewBox='0 0 512 512' id='svg-icon--arrow-up'><path d='M277.375 427V167.296l119.702 119.702L427 256 256 85 85 256l29.924 29.922 119.701-118.626V427h42.75z'></path></symbol>
            <symbol viewBox='0 0 512 512' id='svg-icon--star'><path d='M256 372.686L380.83 448l-33.021-142.066L458 210.409l-145.267-12.475L256 64l-56.743 133.934L54 210.409l110.192 95.525L131.161 448z'></path></symbol>
            <symbol viewBox='0 0 512 512' id='svg-icon--hamburger'><path d='M64 384h384v-42.666H64V384zm0-106.666h384v-42.667H64v42.667zM64 128v42.665h384V128H64z'></path></symbol>
            <symbol viewBox='0 0 512 512' id='svg-icon--tags'><path d='M472 239.2s-.1 0 0 0L282.1 48.1l-1.4-1.4h-.5c-7.5-7.2-16.1-10.9-27.1-11.1l-89.9-3.3-3.9-.1c-10.1.1-20 4.1-27.7 11.8l-27.1 27.2c7.4-6.6 16.6-10 26-10.1l3.8.1 89.8 3.3c11 .2 19.7 3.9 27.2 11.1h.5l1.4 1.4L443 268.1c10 10.8 10.7 28.2 0 38.9l29-28.9c10.6-10.7 10-28.1 0-38.9z'></path><path d='M428 282.5h.3L238.6 91.4l-1.3-1.4h-.3c-7.5-7.2-15.9-10.9-26.9-11.1L120 75.6l-4-.1c-9.2.1-18.2 3.4-25.6 9.8-.3.3-.7.6-1 .9l-1.2 1.2-44.3 44.5C35.8 140 32 150.8 32 161.4v.1l.1 3.8 5.9 87.9v1.9c1 7.9 4.2 15.6 9.6 22l5.1 4.9L239 470.4l2.8 2.8c10.7 9.4 27.1 9 37.3-1.3l13.1-13.2c.5-.4.9-.8 1.4-1.3l26.9-27c-.2.1-.3.2-.5.4l108.3-109.3c10.6-10.7 10.7-28.2-.3-39zm-317.4-143c6.6-4 14.3-6.3 22.6-6.3 23.9 0 43.4 19.4 43.4 43.4 0 8.3-2.3 16-6.3 22.6-7.6 12.5-21.3 20.8-37 20.8-23.9 0-43.4-19.4-43.4-43.4-.1-15.8 8.2-29.5 20.7-37.1z'></path></symbol>
        </svg>
    </div>

    <style>
        .mui-page-header {
            padding-left: 1rem;
            /*position: absolute;
            top: 0;
            left: 0;*/
            width: 100%;
            z-index: 1;
        }

        .mui-image.-logo {
            float: left;
            display: inline-block;
            height: 3rem;
            width: 3rem;
            margin: .5rem 1rem .5rem 0;
        }

        .mui-header-logo h1 {
            line-height: 3.7rem;
        }

        .mui-hero-header > .effects {
            background: linear-gradient(to right, #7b4397, #dc2430);
            opacity: .3;
        }

        .mui-header-navigation.-mobile-version .links-list {
            background: #000;
            color: #fff;
        }

        .example .mui-header-navigation.-mobile-version .links-list {
            background: #fff;
            color: #000;
        }

        @media screen and (max-width: 600px) {
            aside {
                display: none !important;
            }
        }

        .aside-navigation {
            padding: 0 1rem;
        }

        .aside-navigation a {
            text-decoration: none;
        }

        .aside-navigation .sub-list {
            list-style: none;
            padding-left: 1em;
        }

        .aside-navigation .sub-list a:before {
            content: '- ';
        }

        .template-preview {
            height: 20rem;
            overflow: hidden;
            padding: 1rem;
        }

        .template-preview a:hover img,
        .template-preview a:focus img {
            opacity: .5;
        }

        .grid-preview .mui-column {
            margin-top: .5rem;
        }

        .grid-preview .mui-column:first-of-type {
            border-right: 2px solid #fff;
        }

        .source-code {
            background: #f1f1f1;
            font-family: Menlo, "Bitstream Vera Sans Mono", "DejaVu Sans Mono", Monaco, Consolas, monospace;
            font-size: .7rem;
            padding: 1rem;
            overflow-x: scroll;
            border-left: 3px solid #777;
        }

        .color-preview {
            display: inline-block !important;
            float: left;
            height: 2rem;
            width: 2rem;
            margin: .3rem;
            border: 1px solid #000;
        }

        .color-name {
            display: inline-block;
            height: 2rem;
            line-height: 2rem;
            padding: 0 .5rem;
            margin: .3rem;
        }

        .example:after {
            content: '';
            display: table;
            clear: both;
        }

        .example > .mui-button {
            margin: 0 1rem 1rem 0;
        }

        .example .mui-header-navigation {
            float: left;
        }

        .questions-list .question {
            font-weight: bold;
        }

        .questions-list .answer {
            font-style: italic;
        }

        .questions-list .question:before {
            content: '- ';
        }

        .questions-list .answer:before {
            content: '- ';
        }

        .mui-carousel,
        .mui-hero-header {
            background: #EDEDED;
        }

        .mui-ribbon-wrapper {
            height: 10rem;
            background: #EDEDED;
        }

        .mui-ribbon-wrapper + .mui-ribbon-wrapper {
            margin-top: 1rem;
        }

        hr {
            border: 0;
            height: 0;
            border-top: 1px solid #c6c6c6;
        }

        .anchor-link {
            text-decoration: none;
        }

        .example > .mui-custom-scroll {
            max-height: 10rem;
            border-top: 1px solid #c6c6c6;
            border-bottom: 1px solid #c6c6c6;
        }

        .page-preview {
            display: block;
            position: relative;
            margin-bottom: 1rem;
            transition: opacity 600ms cubic-bezier(0.53, 0.05, 0.13, 0.94);
        }

        .page-preview > .version {
            text-decoration: none;
            position: absolute;
            top: .5rem;
            right: .5rem;
            padding: 0 .5rem;
        }

        .page-preview:hover,
        .page-preview:focus {
            opacity: .5;
        }

        li > h4 {
            display: inline-block;
        }
    </style>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var _ = Muilessium.UTILS;

            function initExamples() {
                _.forEach(document.querySelectorAll('.state .example'), function(example) {
                    var stateClass = _.getAttribute(example, 'data-class'),
                        targetChild = 0;

                    if (example.childNodes[1]) {
                        targetChild = 1;
                    }

                    _.addClass(example.childNodes[targetChild], stateClass);
                });
            }

            initExamples();
        });
    </script>
</body>
</html>
