<!DOCTYPE html>
<html lang='en'>
<head>
    <meta http-equiv='content-type' content='text/html;charset=UTF-8' />
    <meta name='viewport' content='user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1'>
    <title>Muilessium UI Framework</title> 

    <link rel='apple-touch-icon' sizes='180x180' href='./favicons/apple-touch-icon.png'>
    <link rel='icon' type='image/png' sizes='32x32' href='./favicons/favicon-32x32.png'>
    <link rel='icon' type='image/png' sizes='16x16' href='./favicons/favicon-16x16.png'>
    <link rel='manifest' href='./favicons/manifest.json'>
    <link rel='mask-icon' href='./favicons/safari-pinned-tab.svg' color='#050505'>
    <meta name='theme-color' content='#ffffff'>

    <style>
        html {
            font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
        }

        body {
            overflow-x: hidden;
        }

        .page-preloader {
            position: fixed;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            /*background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAGElEQVQYV2NkYGD47+DgwMDo4ODwnwEIACFaA4H9uzKWAAAAAElFTkSuQmCC);*/
            background: #fff;
            transition: opacity .5s cubic-bezier(.53,.12,.48,.74);
            z-index: 100;
        }

        @-webkit-keyframes rotate {
            from { 
                -webkit-transform: rotate(0); 
                        transform: rotate(0);
            }
            to { 
                -webkit-transform: rotate(1080deg); 
                        transform: rotate(1080deg);
            }
        }

        @keyframes rotate {
            from { 
                -webkit-transform: rotate(0); 
                        transform: rotate(0);
            }
            to { 
                -webkit-transform: rotate(1080deg); 
                        transform: rotate(1080deg);
            }
        }

        .page-preloader > .spinner {
            position: fixed;
            top: 50%;
            left: 50%;
            -webkit-transform: translateX(-50%) translateY(-50%);
                    transform: translateX(-50%) translateY(-50%);
            height: 5rem;
            width: 5rem;
        }

        .page-preloader > .spinner > .dot {
            position: absolute;
            height: calc(5rem * .8);
            width: calc(5rem * .8);
            border-radius: 50%;
        }


        .page-preloader > .spinner > .dot:after {
            content: '';
            position: absolute;
            height: calc(5rem * .1);
            width: calc(5rem * .1);
            border-radius: 50%;
        }


        .page-preloader > .spinner > .dot:nth-of-type(1) {
            top: 0;
            left: 0;
            -webkit-animation: rotate 4s cubic-bezier(.17,.67,.83,.67) infinite;
                    animation: rotate 4s cubic-bezier(.17,.67,.83,.67) infinite;
        }


        .page-preloader > .spinner > .dot:nth-of-type(1):after {
            top: 50%;
            right: 0;
            -webkit-transform: translateY(-50%);
                    transform: translateY(-50%);
            background: #00A6A6;
        }


        .page-preloader > .spinner > .dot:nth-of-type(2) {
            top: 0;
            right: 0;
            -webkit-animation: rotate 3.8s cubic-bezier(.17,.67,.83,.67) infinite;
                    animation: rotate 3.8s cubic-bezier(.17,.67,.83,.67) infinite;
        }


        .page-preloader > .spinner > .dot:nth-of-type(2):after {
            bottom: 0;
            left: 50%;
            -webkit-transform: translateX(-50%);
                    transform: translateX(-50%);
            background: #FFC914;
        }


        .page-preloader > .spinner > .dot:nth-of-type(3) {
            bottom: 0;
            right: 0;
            -webkit-animation: rotate 4.1s cubic-bezier(.17,.67,.83,.67) infinite;
                    animation: rotate 4.1s cubic-bezier(.17,.67,.83,.67) infinite;
        }


        .page-preloader > .spinner > .dot:nth-of-type(3):after {
            top: 50%;
            left: 0;
            -webkit-transform: translateY(-50%);
                    transform: translateY(-50%);
            background: #76B041;
        }


        .page-preloader > .spinner > .dot:nth-of-type(4) {
            bottom: 0;
            left: 0;
            -webkit-animation: rotate 3.9s cubic-bezier(.17,.67,.83,.67) infinite;
                    animation: rotate 3.9s cubic-bezier(.17,.67,.83,.67) infinite;
        }


        .page-preloader > .spinner > .dot:nth-of-type(4):after {
            top: 0;
            left: 50%;
            -webkit-transform: translateX(-50%);
                    transform: translateX(-50%);
            background: #E4572E;
        }

        .page-preloader.-hidden {
            opacity: 0;
            pointer-events: none;
        }
    </style>
</head>
<body>
    <!-- preloader -->
    <div class='page-preloader' id='preloader'>
        <!-- https://codepen.io/sfi0zy/pen/QpOyxL -->
        <div class='spinner'>
            <div class='dot _allow-empty'></div>
            <div class='dot _allow-empty'></div>
            <div class='dot _allow-empty'></div>
            <div class='dot _allow-empty'></div>
        </div>
    </div>
    <!-- /preloader -->


    <!-- scroll-fix -->
    <div class='mui-scroll-fix'></div>
    <!-- /scroll-fix -->



    <!-- page-header -->
    <header class='mui-page-header -absolute -white-bg'>
        <!-- content-container -->
        <div class='mui-content-container'>


            <!-- header-logo -->
            <div class='mui-header-logo _left'>
                <img class='mui-image -logo -js-lazy-load' data-src='./muilessium.png' src='data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7' alt='logo'>
                <a class='link -black -f-blue-3 _right' href='/'>
                    <h1 class='heading _bigger-1'>{{ project.name }} <span class='_smaller-2'>v{{ project.version }}</span></h1>
                </a>
            </div>
            <!-- /header-logo -->


            <!-- header-navigation -->
            <nav class='mui-header-navigation -mobile-version _right'>
                <div class='mui-navigation-toggle -hamburger -black -f-blue-3-bg -f-white' role='button' aria-label='Open navigation'>
                    <span>&equiv;</span>
                </div>
                <ul class='links-list'>
                    <li class='item'><a class='link -black -f-blue-3-bg -f-white' href='#overview' aria-label='Framework overview'>Overview</a></li>
                    <li class='item'><a class='link -black -f-blue-3-bg -f-white' href='#utils' aria-label='Utils overview'>Utils</a></li>
                    <li class='item'><a class='link -black -f-blue-3-bg -f-white' href='#components' aria-label='Components'>Components</a></li>
                    <li class='item'><a class='link -black -f-blue-3-bg -f-white' href='#faq' aria-label='f.a.q.'>F.A.Q.</a></li>
                </ul>
                <div class='mui-navigation-toggle mui-shadow-toggle' aria-label='Close navigation'></div>
            </nav>
            <!-- header-navigation -->


        </div>
        <!-- /content-container -->
    </header>
    <!-- /page-header -->





    <!-- hero-header -->
    <div class='mui-hero-header -full-height -blue-4-bg'>
        <div class='effects _allow-empty'></div>
        <div class='content'>
            <h2 class='_uppercase' id='animated-title-1'>Muilessium</h2>
            <p id='animated-title-2'>simple should be simple</p>
        </div>
        <div class='scroll-icon'>&darr;</div>
    </div>
    <!-- /hero-header -->





    <!-- content-container -->
    <div class='mui-content-container'>


        <!-- aside navigation -->
        <aside class='mui-column -s12 -m3 _right'>
            <div class='aside-navigation _smaller-1 _line-1-25 _separate-3' role='navigation'>
                <a class='-f-blue-3' href='#overview'>Overview</a>
                <ul class='sub-list _separate-1'>
                    <li><a class='-f-blue-3' href='#cdn'>CDN</a></li>
                    <li><a class='-f-blue-3' href='#grid-overview'>Grid</a></li>
                    <li><a class='-f-blue-3' href='#page-layout-overview'>Page layout</a></li>
                    <li><a class='-f-blue-3' href='#meta-viewport'>Viewport</a></li>
                    <li><a class='-f-blue-3' href='#typography-overview'>Typography</a></li>
                    <li><a class='-f-blue-3' href='#helpers-overview'>Helpers</a></li>
                    <li><a class='-f-blue-3' href='#events-overview'>Events</a></li>
                    <li><a class='-f-blue-3' href='#lazy-loading-images-overview'>Lazy load</a></li>
                    <li><a class='-f-blue-3' href='#colors-overview'>Colors</a></li>
                </ul>
                <hr class='_separate-1'>
                <a class='-f-blue-3' href='#utils'>Utils</a>
                <ul class='sub-list _separate-1'>
                    <li><a class='-f-blue-3' href='#utils-ajax'>AJAX</a></li>
                    <li><a class='-f-blue-3' href='#utils-animations'>Animations</a></li>
                    <li><a class='-f-blue-3' href='#utils-aria'>ARIA</a></li>
                    <li><a class='-f-blue-3' href='#utils-attributes'>Attributes</a></li>
                    <li><a class='-f-blue-3' href='#utils-checks'>Checks</a></li>
                    <li><a class='-f-blue-3' href='#utils-css-classes'>CSS Classes</a></li>
                    <li><a class='-f-blue-3' href='#utils-focus-and-click'>Focus&amp;Click</a></li>
                    <li><a class='-f-blue-3' href='#utils-scroll'>Scroll</a></li>
                    <li><a class='-f-blue-3' href='#utils-viewport'>Viewport</a></li>
                    <li><a class='-f-blue-3' href='#utils-uncategorized'>Uncategorized</a></li>
                </ul>
                <hr class='_separate-1'>
                <a class='-f-blue-3' href='#components'>Components</a>
                <ul class='sub-list _separate-1'>
                {{#files}}
                    {{#blocks}}
                        <li>
                            <a class='-f-blue-3' href='#{{../file}}'>{{ name }}</a>
                        </li>
                    {{/blocks}}
                {{/files}}
                </ul>
                <hr class='_separate-1'>
                <a class='-f-blue-3' href='#faq'>F.A.Q.</a>
            </div>
        </aside>
        <!-- /aside navigation -->




        <!-- main content -->
        <main class='mui-column -s12 -m9'>
            <!-- content-container -->
            <div class='mui-content-container'>


                <!-- overview -->
                <div class='_separate-3'>
                    <div class='mui-row'>
                        <a class='anchor-link -black -f-blue-3' href='#overview'>
                            <h2 class='_bigger-2' id='overview'>Overview</h2>
                        </a>
                    </div>

                    <p class='mui-p _separate-1'>Muilessium is the UI framework created for the fast development of the websites. Simple websites which constitute a significant part of the internet. No SPA. No jQuery. No heavy plugins. Just a number of components and helpers - all that you need to develop a website. It has a REM-based sizes system for non-designers and a simple scheme of usage: Sketch &rarr; Construct &rarr; Paint &rarr; Use.</p>

                    <div class='_separate-1'>
                        <a class='mui-button -blue-3-bg -white -f-blue-5-bg' href='https://github.com/sfi0zy/muilessium'>Muilessium on GitHub</a>
                    </div>
                </div>
                <!-- /overview -->


                <!-- CDN -->
                <div class='_separate-5'>
                    <div class='mui-row'>
                        <a class='anchor-link -black -f-blue-3' href='#cdn'>
                            <h3 class='_bigger-2' id='cdn'>CDN</h3>
                        </a>
                    </div>
                    <div class='_separate-1'>
                        <a href='https://unpkg.com/muilessium/dist/js/muilessium.min.js' class='mui-button -f-blue-3-bg'>JS</a>
                        <a href='https://unpkg.com/muilessium/dist/css/muilessium.min.css' class='mui-button -f-blue-3-bg'>CSS</a>
                    </div>
                </div>
                <!-- /CDN -->


                <!-- grid overview -->
                <div class='_separate-5'>
                    <div class='mui-row'>
                        <a class='anchor-link -black -f-blue-3' href='#grid-overview'>
                            <h3 class='_bigger-2' id='grid-overview'>Grid</h3>
                        </a>
                    </div>

                    <p class='mui-p _separate-1'>Muilessium uses a grid with 12 columns based on flexbox (and has a legacy version based on floats, but only in custom builds). Rows and columns have classes .mui-row and .mui-column and columns can have options -s* for a small screen, -m* for a medium screen and -l* for a large screen. Default breakpoints are 400, 600 and 1200px. Its behavior is similar to the grid from flexboxgrid.com, but it uses RSCSS-style class names. See <a class='-f-blue-3' href='https://github.com/sfi0zy/muilessium/blob/master/src/less/components/grid-flex.less'>src/less/components/grid-flex.less</a> for more information.</p>

                    <div class='grid-preview _separate-2'>
                        <div class='mui-row'>
                            <div class='mui-column -s1 -blue-5-bg -blue-1 _text-center _line-2r _smaller-1'>-s1</div>
                            <div class='mui-column -s11 -blue-1-bg -blue-5 _text-center _line-2r _smaller-1'>-s11</div>
                        </div>
                        <div class='mui-row'>
                            <div class='mui-column -s3 -blue-5-bg -blue-1 _text-center _line-2r _smaller-1'>-s3</div>
                            <div class='mui-column -s9 -blue-1-bg -blue-5 _text-center _line-2r _smaller-1'>-s9</div>
                        </div>
                        <div class='mui-row'>
                            <div class='mui-column -s6 -m4 -l6 -blue-5-bg -blue-1 _text-center _line-2r _smaller-1'>-s6 -m4 -l6</div>
                            <div class='mui-column -s6 -m8 -l6 -blue-1-bg -blue-5 _text-center _line-2r _smaller-1'>-s6 -m8 -l6</div>
                        </div>
                        <div class='mui-row'>
                            <div class='mui-column -m6 -l2 -blue-5-bg -blue-1 _text-center _line-2r _smaller-1'>-m6 -l2</div>
                            <div class='mui-column -m6 -l10 -blue-1-bg -blue-5 _text-center _line-2r _smaller-1'>-m6 -l10</div>
                        </div>
                    </div>

                    <div class='code-example _separate-2 _smaller-1'>
                        <pre class='source-code'>
&lt;div class='mui-row'&gt;
    &lt;div class='mui-column -s1'&gt;-s1&lt;/div&gt;
    &lt;div class='mui-column -s11'&gt;-s11&lt;/div&gt;
&lt;/div&gt;
&lt;div class='mui-row'&gt;
    &lt;div class='mui-column -s3'&gt;-s3&lt;/div&gt;
    &lt;div class='mui-column -s9'&gt;-s9&lt;/div&gt;
&lt;/div&gt;
&lt;div class='mui-row'&gt;
    &lt;div class='mui-column -s6 -m4 -l6'&gt;-s6 -m4 -l6&lt;/div&gt;
    &lt;div class='mui-column -s6 -m8 -l6'&gt;-s6 -m8 -l6&lt;/div&gt;
&lt;/div&gt;
&lt;div class='mui-row'&gt;
    &lt;div class='mui-column -m6 -l2'&gt;-m6 -l2&lt;/div&gt;
    &lt;div class='mui-column -m6 -l10'&gt;-m6 -l10&lt;/div&gt;
&lt;/div&gt;</pre>
                    </div>
                </div>
                <!-- /grid overview -->


                <!-- page layout overview -->
                <div class='_separate-5'>
                    <div class='mui-row'>
                        <a class='anchor-link -black -f-blue-3' href='#page-layout-overview'>
                            <h3 class='_bigger-2' id='page-layout-overview'>Page layout</h3>
                        </a>
                    </div>

                    <p class='mui-p _separate-1'>The basic page layout includes header, page container and footer. This layout is the simplest way to create a sticky footer, but IE11 does not support flexbox greatly, so we have some incorrect behavior in it.</p>

                    <div class='code-example _separate-2 _smaller-1'>
                        <pre class='source-code'>
&lt;div class='mui-scroll-fix'&gt;&lt;/div&gt;
&lt;header class='mui-page-header'&gt;header&lt;/header&gt;
&lt;div class='mui-page-container'&gt;...&lt;/div&gt;
&lt;footer class='mui-page-footer'&gt;footer&lt;/footer&gt;</pre>
                    </div>
                </div>
                <!-- /page layout overview -->



                <!-- viewport overview -->
                <div class='_separate-5'>
                    <div class='mui-row'>
                        <a class='anchor-link -black -f-blue-3' href='#meta-viewport'>
                            <h3 class='_bigger-2' id='meta-viewport'>Recommended viewport</h3>
                        </a>
                    </div>

                    <p class='mui-p _separate-1'>Muilessium uses Hammer.js, and it is recommended to use the following meta in your pages:</p>

                    <div class='code-example _separate-2 _smaller-1'>
                        <pre class='source-code'>
&lt;meta name='viewport' content='user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1'&gt;</pre>
                    </div>
                </div>
                <!-- /viewport overview -->


                <!-- typography overview -->
                <div class='_separate-5'>
                    <div class='mui-row'>
                        <a class='anchor-link -black -f-blue-3' href='#typography-overview'>
                            <h3 class='_bigger-2' id='typography-overview'>Typography</h3>
                        </a>
                    </div>

                    <p class='mui-p _separate-1'>Typography in Muilessium is fluid, and it is based on default system fonts and _bigger-* and _smaller-* <a href='#helpers-overview'>helpers</a>. Note: these helpers have different behavior on different screen sizes to avoid troubles with readability.</p>
                    <div class='h1'>H1 Heading (+5)</div>
                    <div class='h2'>H2 Heading (+4)</div>
                    <div class='h3'>H3 Heading (+3)</div>
                    <div class='h4'>H4 Heading (+2)</div>
                    <div class='h5'>H5 Heading (+1)</div>
                    <div class='h6'>H6 Heading (+0)</div>
                    <div class='_smaller-0'>Normal text</div>
                    <div class='_smaller-1'>Text (-1)</div>
                    <div class='_smaller-2'>Text (-2)</div>
                    <div class='_smaller-3'>Text (-3)</div>
                    <div class='_smaller-4'>Text (-4)</div>
                    <div class='_smaller-5'>Text (-5)</div>
                </div>
                <!-- /typography overview -->


                <!-- helpers overview -->
                <div class='_separate-5'>
                    <div class='mui-row'>
                        <a class='anchor-link -black -f-blue-3' href='#helpers-overview'>
                            <h3 class='_bigger-2' id='helpers-overview'>Helpers</h3>
                        </a>
                    </div>

                    <p class='mui-p _separate-1'>Muilessium has a lot of CSS helpers, no need to add description for every of them - just look at <a class='-f-blue-3' href='https://github.com/sfi0zy/muilessium/blob/master/src/less/helpers.less'>src/less/helpers.less</a>.</p>
                </div>
                <!-- /helpers overview -->


                <!-- events overview -->
                <div class='_separate-5'>
                    <div class='mui-row'>
                        <a class='anchor-link -black -f-blue-3' href='#events-overview'>
                            <h3 class='_bigger-2' id='events-overview'>Events</h3>
                        </a>
                    </div>

                    <p class='mui-p _separate-1'>Muilessium has a system of internal events. It exports that system as window.Muilessium.Events. The main methods are:</p>
                    <ul class='mui-list _separate-1 _smaller-1'>
                        <li class='item'>addEvent(name)</li>
                        <li class='item'>addEventListener(name, callback, executeIfAlreadyFired=false)</li>
                        <li class='item'>fireEvent(name)</li>
                    </ul>
                    <p class='mui-p _separate-1'>There are six default events:</p>
                    <ol class='mui-list _smaller-1'>
                        <li class='item'>resize-window-height</li>
                        <li class='item'>resize-window-width</li>
                        <li class='item'>scroll-start</li>
                        <li class='item'>scroll-end</li>
                        <li class='item'>app-initialized</li>
                        <li class='item'>images-loaded</li>
                    </ol>
                </div>
                <!-- /events overview -->


                <!-- lazy loading overview -->
                <div class='_separate-5'>
                    <div class='mui-row'>
                        <a class='anchor-link -black -f-blue-3' href='#lazy-loading-images-overview'>
                            <h3 class='_bigger-2' id='lazy-loading-images-overview'>Lazy loading images</h3>
                        </a>
                    </div>

                    <div class='code-example _separate-2 _smaller-1'>
                        <pre class='source-code'>
&lt;img class='mui-image -js-lazy-load'
    data-src='....'
    data-srcset='....'
    data-sizes='....'
    alt='Lazy loaded image'
    src='data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7'&gt;</pre>
                    </div>
                </div>
                <!-- /lazy loading overview -->



                <!-- colors overview -->
                <div class='_separate-5'>
                    <div class='mui-row'>
                        <a class='anchor-link -black -f-blue-3' href='#colors-overview'>
                            <h3 class='_bigger-2' id='colors-overview'>Colors</h3>
                        </a>
                    </div>

                    <p class='mui-p _separate-1'>A number of classes for painting from <a class='-f-blue-3' href='https://github.com/sfi0zy/muilessium/blob/master/src/less/colors.less'>src/less/colors</a>. There are four types of classes:</p>
                    <ul class='mui-list _separate-1 _smaller-1'>
                        <li class='item'><b>-color-number</b> - text color for the element</li>
                        <li class='item'><b>-color-number-bg</b> - background for the element</li>
                        <li class='item'><b>-f-color-number</b> - text color for the :hover and :focus states of the element</li>
                        <li class='item'><b>-f-color-number-bg</b> - background color for the :hover and :focus states</li>
                    </ul>

                    <div class='_separate-2'>
                        <div class='mui-row'>
                            <div class='color-preview -white-bg'></div>
                            <div class='color-name _smaller-1'>White</div>
                        </div>

                        <div class='mui-row'>
                            <div class='color-preview -grey-1-bg'></div>
                            <div class='color-preview -grey-2-bg'></div>
                            <div class='color-preview -grey-3-bg'></div>
                            <div class='color-preview -grey-4-bg'></div>
                            <div class='color-preview -grey-5-bg'></div>
                            <div class='color-name _smaller-1'>Grey 1-5</div>
                        </div>

                        <div class='mui-row'>
                            <div class='color-preview -black-bg'></div>
                            <div class='color-name _smaller-1'>Black</div>
                        </div>

                        <div class='mui-row'>
                            <div class='color-preview -brown-1-bg'></div>
                            <div class='color-preview -brown-2-bg'></div>
                            <div class='color-preview -brown-3-bg'></div>
                            <div class='color-preview -brown-4-bg'></div>
                            <div class='color-preview -brown-5-bg'></div>
                            <div class='color-name _smaller-1'>Brown 1-5</div>
                        </div>

                        <div class='mui-row'>
                            <div class='color-preview -orange-1-bg'></div>
                            <div class='color-preview -orange-2-bg'></div>
                            <div class='color-preview -orange-3-bg'></div>
                            <div class='color-preview -orange-4-bg'></div>
                            <div class='color-preview -orange-5-bg'></div>
                            <div class='color-name _smaller-1'>Orange 1-5</div>
                        </div>

                        <div class='mui-row'>
                            <div class='color-preview -yellow-1-bg'></div>
                            <div class='color-preview -yellow-2-bg'></div>
                            <div class='color-preview -yellow-3-bg'></div>
                            <div class='color-preview -yellow-4-bg'></div>
                            <div class='color-preview -yellow-5-bg'></div>
                            <div class='color-name _smaller-1'>Yellow 1-5</div>
                        </div>

                        <div class='mui-row'>
                            <div class='color-preview -red-1-bg'></div>
                            <div class='color-preview -red-2-bg'></div>
                            <div class='color-preview -red-3-bg'></div>
                            <div class='color-preview -red-4-bg'></div>
                            <div class='color-preview -red-5-bg'></div>
                            <div class='color-name _smaller-1'>Red 1-5</div>
                        </div>

                        <div class='mui-row'>
                            <div class='color-preview -purple-1-bg'></div>
                            <div class='color-preview -purple-2-bg'></div>
                            <div class='color-preview -purple-3-bg'></div>
                            <div class='color-preview -purple-4-bg'></div>
                            <div class='color-preview -purple-5-bg'></div>
                            <div class='color-name _smaller-1'>Purple 1-5</div>
                        </div>

                        <div class='mui-row'>
                            <div class='color-preview -violet-1-bg'></div>
                            <div class='color-preview -violet-2-bg'></div>
                            <div class='color-preview -violet-3-bg'></div>
                            <div class='color-preview -violet-4-bg'></div>
                            <div class='color-preview -violet-5-bg'></div>
                            <div class='color-name _smaller-1'>Violet 1-5</div>
                        </div>

                        <div class='mui-row'>
                            <div class='color-preview -blue-1-bg'></div>
                            <div class='color-preview -blue-2-bg'></div>
                            <div class='color-preview -blue-3-bg'></div>
                            <div class='color-preview -blue-4-bg'></div>
                            <div class='color-preview -blue-5-bg'></div>
                            <div class='color-name _smaller-1'>Blue 1-5</div>
                        </div>

                        <div class='mui-row'>
                            <div class='color-preview -light-blue-1-bg'></div>
                            <div class='color-preview -light-blue-2-bg'></div>
                            <div class='color-preview -light-blue-3-bg'></div>
                            <div class='color-preview -light-blue-4-bg'></div>
                            <div class='color-preview -light-blue-5-bg'></div>
                            <div class='color-name _smaller-1'>Light blue 1-5</div>
                        </div>

                        <div class='mui-row'>
                            <div class='color-preview -cyan-1-bg'></div>
                            <div class='color-preview -cyan-2-bg'></div>
                            <div class='color-preview -cyan-3-bg'></div>
                            <div class='color-preview -cyan-4-bg'></div>
                            <div class='color-preview -cyan-5-bg'></div>
                            <div class='color-name _smaller-1'>Cyan 1-5</div>
                        </div>

                        <div class='mui-row'>
                            <div class='color-preview -green-1-bg'></div>
                            <div class='color-preview -green-2-bg'></div>
                            <div class='color-preview -green-3-bg'></div>
                            <div class='color-preview -green-4-bg'></div>
                            <div class='color-preview -green-5-bg'></div>
                            <div class='color-name _smaller-1'>Green 1-5</div>
                        </div>

                    </div>
                </div>
                <!-- colors overview -->



                <!-- utils overview -->
                <div class='_separate-5'>
                    <div class='mui-row'>
                        <a class='anchor-link -black -f-blue-3' href='#utils'>
                            <h3 class='_bigger-2' id='utils'>Utils</h3>
                        </a>
                    </div>

                    <p class='mui-p _separate-1'>Muilessium exports a number of internal utilities as window.Muilessium.Utils including</p>

                    <ul class='mui-list _smaller-1'>
                        <li id='utils-ajax' class='item'><h4 class='_bigger-0'>AJAX</h4>
                            <ol class='mui-list'>
                                <li class='item'>ajax.post <span class='-grey-3'>(url, data, successCallback, errorCallback)</span></li>
                                <li class='item'>ajax.postProtected <span class='-grey-3'>(url, data, successCallback)</span></li>
                                <li class='item'>ajax.get <span class='-grey-3'>(url, successCallback, errorCallback)</span></li>
                                <li class='item'>ajax.getProtected <span class='-grey-3'>(url, successCallback)</span></li>
                            </ol>
                        </li>

                        <li id='utils-animations' class='item'><h4 class='_bigger-0'>Animations</h4>
                            <ol class='mui-list'>
                                <li class='item'>typeText <span class='-grey-3'>(element, { text = '', delay = 120, cycle = false, times = -1}, callback = null)</span></li>
                                <li class='item'>typeTexsts <span class='-grey-3'>(element, textsList)</span></li>
                                <li class='item'>activateAnimation <span class='-grey-3'>(element)</span></li>
                                <li class='item'>animateElement <span class='-grey-3'>(element, animation)</span></li>
                            </ol>
                        </li>

                        <li id='utils-aria' class='item'><h4 class='_bigger-0'>WAI-ARIA</h4>
                            <ol class='mui-list'>
                                <li class='item'>aria.set <span class='-grey-3'>(element, property, value = true)</span></li>
                                <li class='item'>aria.setRole <span class='-grey-3'>(element, role)</span></li>
                                <li class='item'>aria.removeRole <span class='-grey-3'>(element)</span></li>
                                <li class='item'>aria.setId <span class='-grey-3'>(element, id)</span></li>
                                <li class='item'>aria.get <span class='-grey-3'>(element, property)</span></li>
                                <li class='item'>aria.getRole <span class='-grey-3'>(element)</span></li>
                                <li class='item'>aria.toggleState <span class='-grey-3'>(element, state)</span></li>
                            </ol>
                        </li>

                        <li id='utils-attributes' class='item'><h4 class='_bigger-0'>HTML attributes</h4>
                            <ol class='mui-list'>
                                <li class='item'>setAttribute <span class='-grey-3'>(element, attribute, value)</span></li>
                                <li class='item'>getAttribute <span class='-grey-3'>(element, attribute, defaultValue)</span></li>
                                <li class='item'>removeAttribute <span class='-grey-3'>(element, attribute)</span></li>
                            </ol>
                        </li>

                        <li id='utils-checks' class='item'><h4 class='_bigger-0'>Checking</h4>
                            <ol class='mui-list'>
                                <li class='item'>isNode <span class='-grey-3'>(element)</span></li>
                                <li class='item'>isInPage <span class='-grey-3'>(element)</span></li>
                                <li class='item'>isNotInPage <span class='-grey-3'>(element)</span></li>
                                <li class='item'>ifExists <span class='-grey-3'>(element, callback, printWarning = true)</span></li>
                                <li class='item'>ifNodeList <span class='-grey-3'>(element, callback, printWarning = true)</span></li>
                                <li class='item'>isDescendant <span class='-grey-3'>(parent, child)</span></li>
                            </ol>
                        </li>

                        <li id='utils-css-classes' class='item'><h4 class='_bigger-0'>CSS classes</h4>
                            <ol class='mui-list'>
                                <li class='item'>hasClass <span class='-grey-3'>(element, class)</span></li>
                                <li class='item'>hasNotClass <span class='-grey-3'>(element, class)</span></li>
                                <li class='item'>addClass <span class='-grey-3'>(element, class)</span></li>
                                <li class='item'>addClasses <span class='-grey-3'>(element, ...classes)</span></li>
                                <li class='item'>removeClass <span class='-grey-3'>(element, class)</span></li>
                                <li class='item'>removeClasses <span class='-grey-3'>(element, ...classes)</span></li>
                                <li class='item'>replaceClass <span class='-grey-3'>(element, class, newClass)</span></li>
                                <li class='item'>toggleClass <span class='-grey-3'>(element, class)</span></li>
                            </ol>
                        </li>

                        <li id='utils-focus-and-click' class='item'><h4 class='_bigger-0'>Focus &amp; click</h4>
                            <ol class='mui-list'>
                                <li class='item'>makeElementFocusable <span class='-grey-3'>(element)</span></li>
                                <li class='item'>makeElementsFocusable <span class='-grey-3'>(elementsList)</span></li>
                                <li class='item'>makeElementNotFocusable <span class='-grey-3'>(element)</span></li>
                                <li class='item'>makeElementsNotFocusable <span class='-grey-3'>(elementsList)</span></li>
                                <li class='item'>getFocusableChilds <span class='-grey-3'>(element)</span></li>
                                <li class='item'>getAllFocusableElements <span class='-grey-3'>()</span></li>
                                <li class='item'>getNextFocusableElement <span class='-grey-3'>(element)</span></li>
                                <li class='item'>getPreviousFocusableElement <span class='-grey-3'>(element)</span></li>
                                <li class='item'>goToNextFocusableElement <span class='-grey-3'>(element)</span></li>
                                <li class='item'>goToPreviousFocusableElement <span class='-grey-3'>(element)</span></li>
                                <li class='item'>makeElementClickable <span class='-grey-3'>(element, callback, { mouse = true, keyboard = true } = {})</span></li>
                                <li class='item'>makeChildElementsClickable <span class='-grey-3'>(element, childs, callback, { mouse = true, keyboard = true } = {})</span></li>
                                <li class='item'>onFocus <span class='-grey-3'>(element, callback)</span></li>
                                <li class='item'>onBlur <span class='-grey-3'>(element, callback)</span></li>
                            </ol>
                        </li>

                        <li id='utils-scroll' class='item'><h4 class='_bigger-0'>Scroll</h4>
                            <ol class='mui-list'>
                                <li class='item'>scrollTo <span class='-grey-3'>(element, callback)
</span></li>
                                <li class='item'>scrollToTop <span class='-grey-3'>(callback)</span></li>
                                <li class='item'>scrollFire <span class='-grey-3'>(element, callback)
</span></li>
                            </ol>
                        </li>

                        <li id='utils-viewport' class='item'><h4 class='_bigger-0'>Viewport</h4>
                            <ol class='mui-list'>
                                <li class='item'>isInViewport <span class='-grey-3'>(element)</span></li>
                                <li class='item'>isAboveViewport <span class='-grey-3'>(element)</span></li>
                            </ol>
                        </li>

                        <li id='utils-uncategorized' class='item'><h4 class='_bigger-0'>Uncategorized</h4>
                            <ol class='mui-list'>
                                <li class='item'>normalizeTabIndexes <span class='-grey-3'>()</span></li>
                                <li class='item'>lazyLoadImages <span class='-grey-3'>(callback)</span></li>
                                <li class='item'>initAnchorLinks <span class='-grey-3'>()</span></li>
                                <li class='item'>generateRandomString <span class='-grey-3'>(length = 8)</span></li>
                                <li class='item'>stringify <span class='-grey-3'>(object)</span></li>
                                <li class='item'>extend <span class='-grey-3'>(target, source)</span></li>
                                <li class='item'>debounce <span class='-grey-3'>(func, ms)</span></li>
                                <li class='item'>callOnce <span class='-grey-3'>(callback)</span></li>
                                <li class='item'>firstOfList <span class='-grey-3'>(list)</span></li>
                                <li class='item'>lastOfList <span class='-grey-3'>(list)</span></li>
                                <li class='item'>forEach <span class='-grey-3'>(list, callback, delay)</span></li>
                            </ol>
                        </li>
                    </ul>
                </div>
                <!-- /utils overview -->


                <!-- components overview -->
                <div class='_separate-5'>
                    <div class='mui-row'>
                        <a class='anchor-link -black -f-blue-3' href='#components'>
                            <h3 class='_bigger-2' id='components'>Components</h3>
                        </a>
                    </div>

                    <p class='mui-p _separate-1'>Muilessium has a number of components listed below. Every component has a markup shown in example and this markup should be used as is, because some initializations of components are based on their markups. All components with public methods are stored in window.Muilessium.components. If the main element of such component has an ID, the component can be obtained using <i>Muilessium.get(componentName, id)</i>.</p>

                    {{#files}}
                        <div id='{{file}}' class='_allow-empty'></div>
                        {{#blocks }}
                            <div class='_separate-5'>
                                <div class='mui-row'>
                                    <a class='anchor-link -black -f-blue-3' href='#{{../file}}'>
                                        <h4 class='_bigger-1'>{{ name }}</h4>
                                    </a>
                                </div>
                                <div class='_smaller-2 -grey-4'>{{ ../file }}</div>
                                {{#if description }}
                                    <p class='mui-p _separate-1'>{{ description }}</p>
                                {{/if}}
                                {{#if component }}
                                    <div class='_separate-1 _smaller-1'>[[ {{ component }} ]] <span class='-grey-3'>- Use Muilessium.get('{{ component }}', id) to get it.</span></div>
                                {{/if}}
                                {{#if method}}
                                    <div class='_separate-1'>
                                        <ul class='mui-list _smaller-1'>
                                            {{#method}}
                                                <li class='item'>
                                                    <span>{{ name }}</span>
                                                    {{#if description }}
                                                        <span class='-grey-3'> - {{ description }}</span>
                                                    {{/if}}
                                                </li>
                                            {{/method}}
                                        </ul>
                                    </div>
                                {{/if}}
                                {{#depends}}
                                    <div class='_smaller-1 -blue-4'>Depends on {{ depends }}</div>
                                {{/depends}}
                                {{#requires}}
                                    <div class='_smaller-1 -red-4'>Requires {{ requires }}</div>
                                {{/requires}}
                                {{#if markup}}
                                    <div class='_separate-1'>
                                        <div class='example _separate-2'>{{{ markup.example }}}</div>
                                        {{#state}}
                                            <div class='state _separate-2'>
                                                <h5 class='_smaller-1'>{{ ../../name }} with {{name}} option</h5>
                                                <div class='example _separate-2' data-class='{{name}}'>{{{ ../markup.example }}}</div>
                                            </div>
                                        {{/state}}
                                        <div class='mui-spoiler'>
                                            <div class='title'>Source code</div>
                                            <div class='content'>
                                                <div class='code _separate-2 _smaller-1'>
                                                    <pre class='source-code'>{{{markup.escaped}}}</pre>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {{/if}}
                            </div>
                        {{/blocks}}
                    {{/files}}
                </div>
                <!-- components overview -->




                <!-- f.a.q. -->
                <div class='_separate-5'>
                    <div class='mui-row'>
                        <a class='anchor-link -black -f-blue-3' href='#faq'>
                            <h3 class='_bigger-2' id="faq">F.A.Q.</h3>
                        </a>
                    </div>

                    <div class='questions-list _separate-1'>
                        <div class='_separate-1'>
                            <div class='question'>Can I use Muilessium in my project?</div>
                            <div class='answer'>Yes, Muilessium is distributed under the MIT license, so You can use it in Your projects.</div>
                        </div>

                        <div class='_separate-1'>
                            <div class='question'>What browsers are supported?</div>
                            <div class='answer'>All modern browsers, including IE11.</div>
                        </div>
                        
                        <div class='_separate-1'>
                            <div class='question'>What can I do if I found a bug?</div>
                            <div class='answer'>If you found a bug - don't worry, Muilessium is in pre-pre-release state and can have some bugs, You can open an issue on <a href='https://github.com/sfi0zy/muilessium' class='-f-blue-3'>GitHub</a> or send me an <a href='mailto:sfi0zy@gmail.com' class='-f-blue-3'>email</a> and I will fix a problem.</div>
                        </div>
                    </div>
                </div>
                <!-- /f.a.q. -->



            </div>
            <!-- /content-container -->


        </main>
    </div>
    <!-- /content-container -->



    <div class='mui-page-footer _text-center _line-3r -white -black-bg'>
        <span>Copyright &copy; Ivan Bogachev, 2016-2017</span>
    </div>

    <link rel='stylesheet' href='./css/muilessium.min.css?v={{ project.version }}'>
    <script src='./js/muilessium.min.js?v={{ project.version }}'></script>


    <style>
        .mui-page-header {
            padding-left: 1rem;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            z-index: 1;
        }

        .mui-image.-logo {
            float: left;
            display: inline-block;
            height: 3rem;
            width: 3rem;
            margin: .5rem 1rem .5rem 0;
        }

        .mui-header-logo h1 {
            line-height: 3.7rem;
        }

        .mui-hero-header > .effects {
            background: linear-gradient(to right, #7b4397, #dc2430);
            opacity: .3;
        }

        .mui-header-navigation.-mobile-version .links-list {
            background: #fff;
        }

        .example .mui-header-navigation.-mobile-version .links-list {
            background: #fff;
        }

        @media screen and (max-width: 600px) {
            aside {
                display: none !important;
            }
        }

        .aside-navigation {
            padding: 0 1rem;
        }

        .aside-navigation a {
            text-decoration: none;
        }

        .aside-navigation .sub-list {
            list-style: none;
            padding-left: 1em;
        }

        .aside-navigation .sub-list a:before {
            content: '- ';
        }

        .template-preview {
            height: 20rem;
            overflow: hidden;
            padding: 1rem;
        }

        .template-preview a:hover img,
        .template-preview a:focus img {
            opacity: .5;
        }

        .grid-preview .mui-column {
            margin-top: .5rem;
        }

        .grid-preview .mui-column:first-of-type {
            border-right: 2px solid #fff;
        }

        .source-code {
            background: #f1f1f1;
            font-family: Menlo, "Bitstream Vera Sans Mono", "DejaVu Sans Mono", Monaco, Consolas, monospace;
            font-size: .7rem;
            padding: 1rem;
            overflow-x: scroll;
            border-left: 3px solid #777;
        }

        .color-preview {
            display: inline-block !important;
            float: left;
            height: 2rem;
            width: 2rem;
            margin: .3rem;
            border: 1px solid #000;
        }

        .color-name {
            display: inline-block;
            height: 2rem;
            line-height: 2rem;
            padding: 0 .5rem;
            margin: .3rem;
        }

        .example:after {
            content: '';
            display: table;
            clear: both;
        }

        .example > .mui-button {
            margin: 0 1rem 1rem 0;
        }

        .example .mui-header-navigation {
            float: left;
        }

        .questions-list .question {
            font-weight: bold;
        }

        .questions-list .answer {
            font-style: italic;
        }

        .questions-list .question:before {
            content: '- ';
        }

        .questions-list .answer:before {
            content: '- ';
        }

        .mui-carousel,
        .mui-hero-header {
            background: #EDEDED;
        }

        .mui-ribbon-wrapper {
            height: 10rem;
            background: #EDEDED;
        }

        .mui-ribbon-wrapper + .mui-ribbon-wrapper {
            margin-top: 1rem;
        }

        hr {
            border: 0;
            height: 0;
            border-top: 1px solid #c6c6c6;
        }

        .anchor-link {
            text-decoration: none;
        }

        .mui-custom-scroll {
            max-height: 5rem;
            border-top: 1px solid #c6c6c6;
            border-bottom: 1px solid #c6c6c6;
        }

        .page-preview {
            display: block;
            position: relative;
            margin-bottom: 1rem;
            transition: opacity 600ms cubic-bezier(0.53, 0.05, 0.13, 0.94);
        }

        .page-preview > .version {
            text-decoration: none;
            position: absolute;
            top: .5rem;
            right: .5rem;
            padding: 0 .5rem;
        }

        .page-preview:hover,
        .page-preview:focus {
            opacity: .5;
        }

        li > h4 {
            display: inline-block;
        }
    </style>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var _ = Muilessium.Utils;

            function animateTitles() {
                var title1 = document.getElementById('animated-title-1'),
                    title2 = document.getElementById('animated-title-2');

                title1.innerHTML = '';
                title2.innerHTML = '';

                _.typeText(title1, { text: 'MUILESSIUM' }, function() {
                    _.typeText(title2, { text: 'simple should be simple' });
                });
            }


            function initExamples() {
                _.forEach(document.querySelectorAll('.state .example'), function(example) {
                    var stateClass = _.getAttribute(example, 'data-class'),
                        targetChild = 0;

                    if (example.childNodes[1]) {
                        targetChild = 1;
                    }

                    _.addClass(example.childNodes[targetChild], stateClass);
                });
            }

            function hidePreloader() {
                var preloader = document.getElementById('preloader');

                setTimeout(function() {
                    _.addClass(preloader, '-hidden');
                }, 100);
            }

            animateTitles();
            initExamples();
            hidePreloader();
        });
    </script>
</body>
</html>
